<%= form_with(model: @eula, url: admin_eulas_path, local: true) do |form| %>
  <% if !eula.nil? && eula.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(eula.errors.count, "error") %> prohibited this TOS from being saved:</h4>

      <ul>
        <% eula.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :note, :for => :eula_note %>
    <%= form.text_field :note, :id => :eula_note, :class => "form-control", :rows => "1" %>
    <small id="eula_noteHelp" class="form-text text-muted">A note as to why this TOS is being published (i.e. fixing mistakes); maximum <%= Eula.max_note_length %> characters. Not visible to regular users.</small>
  </div>

  <div class="field form-group">
    <%= form.label :eula_text, "User Agreement", :for => :eula_text %>
    <%= form.text_area :eula_text, :id => :eula_text, :class => "form-control", :rows => "12" %>
    <small id="eula_textHelp" class="form-text text-muted">You can use <%= link_to "Markdown", help_markdown_path%> in this field. Inlined HTML will be ignored; maximum <%= number_with_delimiter(Eula.max_eula_length, :delimiter => ',') %> characters.</small>
    <%# I use number_with_delimiter because this number is (most likely) going to be very large. I found out about it from https://stackoverflow.com/a/1078366 %>
  </div>

  <div class="actions">
    <%= form.submit "Publish", :class => "btn btn-primary", :role => "button" %>
  </div>
<% end %>
