<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !@search_errors.nil? && @search_errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@search_errors.count, "error") %> prohibited your search from being executed:</h4>
            <ul>
              <% @search_errors.each do |attr, message| %>
                <li><%= "#{attr} #{message}" %></li>
              <% end %>
            </ul>
            <p class="card-text">A blank search has been executed.</p>
          </div>
          <hr />
        <% end -%>
        <h4 class="card-title">Terms of Services</h4>
        <%= render 'admin/eulas/search_form' %>

        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"><%= dash_eula_search_sort_link("id", "ID") %></th>
                <th scope="col"><%= dash_eula_search_sort_link("created_at", "Date Published") %></th>
                <th scope="col"><%= dash_eula_search_sort_link("publisher", "Publisher") %></th>
                <th scope="col">Note</th>
                <th scope="col">Text</th>
              </tr>
            </thead>
            <tbody>
              <% if @eulas.count == 0 %>
                <td colspan="5">No Terms of Services found</td>
              <% else %>
                <% @eulas.each do |eula| %>
                  <tr>
                    <td><%= eula.id %></td>
                    <td><%= ApplicationHelper.datetime_to_str(eula.created_at, show_offset: false, show_seconds: true) %></td>
                    <td>
                      <% if eula.user_id? %>
                        <%= link_to "#{eula.user.name} (ID #{eula.user_id})", admin_manage_user_path(eula.user_id) %>
                      <% elsif eula.publisher == Rails.configuration.application[:common][:system_user_id] %>
                        <%= "ID #{eula.publisher} (System)" %>
                      <% else %>
                        <%= "ID #{eula.publisher} (Deleted)" %>
                      <% end %>
                    </td>
                    <td><%= eula.note %></td>
                    <td><%= link_to 'View', admin_eula_path(eula) %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="pagination justify-content-center">
          <%= paginate @eulas, theme: 'bootstrap4' %>
        </div>
      </div>
    </div>
  </div>
</div>
