<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Account Overview</h4>
        <p class="card-text">Hello, <%= current_user.name %>.</p>
        <p class="card-text">You have performed [number of] searches.</p>
        <p class="card-text">[If normal account:]Your primary email [has/has not] been verified. (Have a resend link if unverified.) [If SSO-only account:]Your account is SSO-only. To enable traditional username/password login, go to Account Settings and set a password.</p>
        <p class="card-text">[If normal account with no backup email:]You should set a backup email address in Account Settings for recovery purposes. [If normal account with backup email:]Your backup email [has/has not] been verified. (Have a resend link if unverified.)</p>
        <p class="card-text">Your most recent sign-in was on <u><%= @UserLastLoginTime %></u> from <u><%= @UserLastLoginIP %></u>.</p>
        <ul>
          <li>To change your display name, email address(es), password, add/remove external sign-on services, or delete your account, go to the Account Settings tab.</li>
          <li>To set your date format and change the theme, go to the Apperance & Localization tab.</li>
          <li>To choose what you will be notified for and on what email addresses, go to the Notifications tab.</li>
          <li>To view the status of messages you have reported, go to the Reports tab.</li>
          <li>To increase account security through 2FA, go to the Security tab.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
