<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !current_user.otp_required_for_login %>
          <%= form_for(current_user, url: account_security_2fa_totp_path, html: {method: :post}) do |f| %>
            <h4 class="card-title">Enable TOTP</h4>
            <p class="card-text">To enable TOTP to increase your account security:</p>
            <ol>
              <li>Scan the QR code below with an app such as Authy, Duo Mobile, or Google Authenticator</li>
              <ul><li>If the code will not scan, you can manually type in the TOTP seed beneath the code</li></ul>
              <li>Enter the code you see on your device into the verification box below</li>
              <li>Hit the "Enable TOTP" button</li>
              <ul><li>TOTP seeds expire after 5 minutes. If you don't confirm the TOTP code in 5 minutes, that's fine - just refresh the page for a new QR code.</li></ul>
            </ol>
            
            <object type="image/svg+xml" data="data:image/svg+xml;base64,<%= @QRCodeSVG %>" alt="QR code with TOTP seed">
              <img src="data:image/png;base64, <%= @QRCodePNG %>" title="Scan this code with your mobile device" alt="QR code with TOTP seed" />
            </object>
            <%- if !@QRCodePNG %>
              <small id="qrcodeHelp" class="form-text text-muted">Note: if the code does not display, that is because you your browser does not support SVGs. You will have to type in the seed from the field below.</small><br />
            <% end -%>
            
            <p class="card-text">TOTP seed (for manual entry):</p>
            <div class="input-group mb-3">
              <input class="form-control placeholder-text" id="totp-seed" placeholder="<%= current_user.otp_secret %>" readonly></input>
              <div class="input-group-append">
                <button class="btn btn-outline-dark clipboard-btn" title="Copy to Clipboard" data-clipboard-action="copy" data-clipboard-text="<%= current_user.otp_secret %>" onClick="return false;"><i class="far fa-clipboard"></i></button>
              </div>
            </div>
            <noscript><small>Note: copy to clipboard button requires JavaScript to be enabled.</small></noscript>
            <hr />
            <div class="field form-group">
              <%= f.label :otp_attempt, "Confirm TOTP Code", :class => "card-text" %>
              <%= f.text_field :otp_attempt, :value => "", :class => "form-control", :autocomplete => "off", :autofocus => "true" %>
              <small id="otp_attemptHelp" class="form-text text-muted">Make sure to enter the code and press "Enable TOTP" before the code expires on your device!</small>
            </div>
            
            <%= f.submit "Enable TOTP", :class => "btn btn-primary", :role => "button" %>
          <% end %>
          <br />
          <%= form_for(current_user, url: account_security_2fa_totp_regen_path, html: {method: :post}) do |f| %>
            <%= f.submit "Generate new TOTP seed", :class => "btn btn-warning", :role => "button" %>
            <%= link_to "Back to Account Security", account_security_path, :class => "btn btn-secondary" %>
          <% end %>
        <% else %>
          <%= form_for(current_user, url: account_security_2fa_totp_path, html: {method: :post}) do |f| %>
            <h4 class="card-title">Disable TOTP</h4>
            <p class="card-text">To disable TOTP to decrease your account security:</p>
            <ol>
              <li>Enter the code you see from your device into the verification box below</li>
              <li>Hit the "Disable TOTP" button</li>
            </ol>
            <div class="field form-group">
              <%= f.label :otp_attempt, "TOTP or Recovery Code", :class => "card-text" %>
              <%= f.text_field :otp_attempt, :value => "", :class => "form-control", :autocomplete => "off", :autofocus => "true" %>
              <small id="otp_attemptHelp" class="form-text text-muted">If you have lost your device with the TOTP code, you can enter a recovery code. If you do not have your recovery codes, contact the administrator.</small>
            </div>
            
            <%= f.submit "Disable TOTP", :class => "btn btn-danger", :role => "button" %>
            <%- if @user_has_u2f %>
              <%= link_to "Use U2F Token", account_security_2fa_totp_u2f_path, :class => "btn btn-warning" %>
            <% end -%>
            <%= link_to "Back to Account Security", account_security_path, :class => "btn btn-primary" %>
          <% end %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
