<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h5 class="card-title">Your Reports</h5>
        <p class="card-text">Note: this is just a mockup, it's not functional yet.</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Channel</th>
              <th scope="col">Sender</th>
              <th scope="col">Message</th>
              <th scope="col">Date Reported</th>
              <th scope="col">Reason</th>
              <th scope="col">Resolved?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">120</th>
              <td>#stereotonetim</td>
              <td>luna_moona</td>
              <td>(closed parenthesis for regex testing)</td>
              <td>[Date reported]</td>
              <td>[Reason here]</td>
              <td>No</td>
            </tr>
            <tr>
              <th scope="row">111</th>
              <td>#stereotonetim</td>
              <td>tttomato</td>
              <td>cant forget about minitonetim</td>
              <td>[Date reported]</td>
              <td>[Reason here]</td>
              <td>Yes - [action taken here]</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
