<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
          <h4 class="card-title">Security Preferences</h4>
          <p class="card-text">Current login: <u><%= @UserLastLoginTime %></u> from <u><%= @UserLastLoginIP %></u>.</p>
          <p class="card-text">Previous login: <u><%= @UserPreviousLoginTime %></u> from <u><%= @UserPreviousLoginIP %></u>.</p>
          <p class="card-text">To change your password or enable password login, do so on the Account Settings tab.</p>
          <span class="card-text">To delete your account, go to the Account Settings tab.</span>
          <hr />
          <h4 class="card-title">Enable or Disable 2FA Methods</h4>
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Software Token (TOTP)</h5>
                  <p class="card-text">Compatible with all desktops and mobile devices.</p>
                  <p class="card-text">Requires an app such as Authy, Duo, FreeOTP, or Google Authenticator, or a password manager supporting TOTP (Bitwarden, KeePass with KeeOtp plugin, etc).</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%- if current_user.otp_required_for_login? %>
                      <span>Enabled on <%= @TOTPEnabledTime %> <i class="fas fa-check-circle"></i></span>
                    <% else %>
                      <span>Not enabled <i class="fas fa-times-circle"></i></span>
                    <% end -%>
                  </li>
                  <li class="list-group-item">
                    <%- if !current_user.otp_backup_codes_enabled_at.nil? %>
                      <span>Recovery codes generated on <%= @RecoveryCodeGenerationDate %> <i class="fas fa-check-circle"></i></span>
                    <% else %>
                      <span>Recovery codes not generated <i class="fas fa-times-circle"></i></span>
                    <% end -%>
                  </li>
                </ul>
                <div class="card-body">
                  <%- if !current_user.otp_required_for_login %>
                    <%= link_to "Enable TOTP", account_security_2fa_totp_path, :class => "btn btn-primary" %>
                  <% else %>
                    <%= link_to "Get Recovery Codes", account_security_2fa_recovery_codes_path, :class => "btn btn-warning" %>
                    <%= link_to "Disable TOTP", account_security_2fa_totp_path, :class => "btn btn-danger" %>
                  <% end -%>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Hardware Token (U2F)</h5>
                  <p class="card-text">Compatible with most desktop browsers and some mobile devices (requires JavaScript to be enabled and browser support for the WebAuthn API). More secure than TOTP.</p>
                  <p class="card-text">Requires a FIDO U2F device (Google Titan Key, YubiKey, etc).</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <%- if @U2FDevices == 0 %>
                      <span>Not enabled <i class="fas fa-times-circle"></i></span>
                    <% else %>
                      <span>Enabled on <%= @U2FEnabledTime %> <i class="fas fa-check-circle"></i></span>
                    <% end -%>
                  </li>
                  <li class="list-group-item">
                    <%- if !current_user.otp_backup_codes_enabled_at.nil? %>
                      <span>Recovery codes generated on <%= @RecoveryCodeGenerationDate %> <i class="fas fa-check-circle"></i></span>
                    <% else %>
                      <span>Recovery codes not generated <i class="fas fa-times-circle"></i></span>
                    <% end -%>
                  </li>
                  <li class="list-group-item">
                    <span><%= pluralize(@U2FDevices, "token") %> registered</span>
                  </li>
                </ul>
                <div class="card-body">
                  <%- if @U2FDevices == 0 %>
                    <%= link_to "Enable U2F", account_security_2fa_u2f_add_path, :class => "btn btn-primary" %>
                  <% else %>
                    <%= link_to "Register new U2F Token", account_security_2fa_u2f_add_path, :class => "btn btn-primary" %>
                    <%= link_to "Manage U2F Tokens", account_security_2fa_u2f_keys_path, :class => "btn btn-secondary" %>
                    <%= link_to "Get Recovery Codes", account_security_2fa_recovery_codes_path, :class => "btn btn-warning" %>
                  <% end -%>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <h4 class="card-title">Change/Set Password</h4>
          <%= render 'devise/registrations/change_password' %>
      </div>
    </div>
  </div>
</div>
