<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Account Recovery Codes</h4>
        <p class="card-text">Your recovery codes have been regenerated. Please discard any old ones, as they will no longer work. To generate new codes, press the button below or refresh the page. Save or print these somewhere safe.</p>
        <p class="card-text">If you have both TOTP and U2F enabled, these codes work for both. You do not need separate recovery codes for each 2FA method.</p>
        <p class="card-text">Your account recovery codes:</p>
        <ul>
          <% @AccountRecoveryCodes.each_with_index do |code, index| %>
            <li id="recovery-code-<%= index %>"><%= code %></li>
          <% end %>
        </ul>
        <div class="actions">
          <%= link_to "Back to Account Security", account_security_path, :class => "btn btn-primary" %>
          <%= link_to "Generate new Codes", account_security_2fa_recovery_codes_path, :class => "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
