<h2>Sign up</h2>

<br />
<%= form_for(User.new, as: resource_name, url: finish_sso_path) do |f| %>
  <%#= render 'devise/shared/error_messages' %>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Finish registration</h4>
          <p class="card-text">If you already have an account and want to enable Facebook/Twitter login, <%= link_to "click here to release this account entry", finish_sso_path, method: :delete %>, sign in via your existing account, and go to the Settings menu to enable Facebook/Twitter integration.</p>
          <%# I could create a helper method for params to integrate the provider's name instead of "Facebook/Twitter", but I'd prefer to keep my MVC principle violations to a minimum, and considering there are only 2 providers this page is used with, it's not a big enough list to be an impedement to the user that justifies another MVC violation. %>
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", :class => "form-control", :autofocus => true %>
          </div>
          <div class="actions">
            <%= f.submit "Register", :class => "btn btn-primary", :role => "button" %>
          </div>
          <%- if controller_name != 'sessions' %>
            <br />
            <%= link_to "Already have an account? Sign in here", signin_path, :role => "button" %>
          <% end -%>
        </div>
      </div>
    </div>
    <%#= render "devise/shared/sso" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
