<h2>Sign up</h2>

<br />
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages" %>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <%- if devise_mapping.omniauthable? %>
            <h4 class="card-title">Create a traditional account</h4>
          <% else %>
            <h4 class="card-title">Enter your credentials</h4>
          <% end -%>
          <div class="field form-group">
            <%= f.label :name, "Nickname (used for system emails; not publicly visible or related to the users in this database)" %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "name", :class => "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autocomplete: "email", :class => "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", :class => "form-control" %>
          </div>
          <div class="field form-group">
            <%= f.label :password_confirmation, "Confirm your password" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit "Register", :class => "btn btn-primary", :role => "button" %>
          </div>
          <%- if controller_name != 'sessions' %>
            <br />
            <%= link_to "Already have an account? Sign in here", new_user_session_path, :role => "button" %>
          <% end -%>
        </div>
      </div>
    </div>
    <%= render "devise/shared/sso" %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
