<%- if devise_mapping.omniauthable? %>
  <div class="col-md-6">
    <div class="card mb-4">
      <div class="card-body">
        <%- if user_signed_in? %>
          <h5 class="card-title">Manage Single Sign On Providers</h5>
          <p class="card-text">Add or remove provider integrations here.</p>
          <p class="card-text">If you remove all integrations, please make sure you have setup a password (or add a new integration) or you will be unable to sign in in the future.</p>
        <% else %>
          <h4 class="card-title">Or use a Single Sign On provider</h4>
          <p class="card-text">To add more provider integrations to your account, please use the settings page after signing in.</p>
          <p class="card-text">New accounts can also be created using SSO.</p>
        <% end -%>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-sm sso-col">
                  <%- if !user_signed_in? %>
                    <%= link_to(user_discord_omniauth_authorize_path, :class => "text-dark") do %>
                      <%# <i class="i-fa sso-discord fab fa-discord"></i>Discord %>
                      <object type="image/svg+xml" data="/assets/img/icons/ds.svg" class="sso-icon">
                        <img src="/assets/img/icons/ds.png" class="sso-icon"></img>
                      </object><span class="sso-text">Discord</span>
                    <% end %>
                  <% else %>
                    <%# <i class="i-fa sso-discord fab fa-discord"></i>Discord %>
                    <object type="image/svg+xml" data="/assets/img/icons/ds.svg" class="sso-icon">
                      <img src="/assets/img/icons/ds.png" class="sso-icon"></img>
                    </object><span class="sso-text sso-manage-panel">Discord</span>
                    <%#= Note: the reason I don't use a link when the user is signed in is because I will have buttons to add/remove integrations, so the add integration link is unnecessary. %>
                  <% end -%>
                </div>
                <%- if user_signed_in? %>
                  <%- if @user.discord_oauth.present? %>
                    <div class="col-sm sso-col">
                      <span>Connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Disconnect", user_discord_omniauth_authorize_path, method: :delete, :class => "btn btn-danger btn-sm" %>
                      <%- if @user.oauth_domains_except('discord', ApplicationHelper.domain(request.url)).any? %>
                        <%# List all domains Oauth is connected via, if the provider is not enabled exclusively on this domain. %>
                        <button type="button" class="btn btn-sm btn-secondary ml-2" data-toggle="popover" title="Connected via:" data-content="
                          <%= @user.oauth_domains('discord').join(', ') %>
                        ">?</button>
                      <% end -%>
                    </div>
                  <% else %>
                    <div class="col-sm sso-col">
                      <span>Not connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Connect", user_discord_omniauth_authorize_path, :class => "btn btn-primary btn-sm" %>
                    </div>
                  <% end -%>
                <% end -%>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-sm sso-col">
                  <%- if !user_signed_in? %>
                    <%= link_to(user_facebook_omniauth_authorize_path, :class => "text-dark") do %>
                      <%# <i class="i-fa sso-facebook fab fa-facebook-square"></i>Facebook %>
                      <object type="image/svg+xml" data="/assets/img/icons/fb.svg" class="sso-icon">
                        <img src="/assets/img/icons/fb.png" class="sso-icon"></img>
                      </object><span class="sso-text">Facebook</span>
                    <% end %>
                  <% else %>
                    <%# <i class="i-fa sso-facebook fab fa-facebook-square"></i>Facebook %>
                    <object type="image/svg+xml" data="/assets/img/icons/fb.svg" class="sso-icon">
                      <img src="/assets/img/icons/fb.png" class="sso-icon"></img>
                    </object><span class="sso-text sso-manage-panel">Facebook</span>
                  <% end -%>
                </div>
                <%- if user_signed_in? %>
                  <%- if @user.facebook_oauth.present? %>
                    <div class="col-sm sso-col">
                      <span>Connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Disconnect", user_facebook_omniauth_authorize_path, method: :delete, :class => "btn btn-danger btn-sm" %>
                      <%- if @user.oauth_domains_except('facebook', ApplicationHelper.domain(request.url)).any? %>
                        <%# List all domains Oauth is connected via, if the provider is not enabled exclusively on this domain. %>
                        <button type="button" class="btn btn-sm btn-secondary ml-2" data-toggle="popover" title="Connected via:" data-content="
                          <%= @user.oauth_domains('facebook').join(', ') %>
                        ">?</button>
                      <% end -%>
                    </div>
                  <% else %>
                    <div class="col-sm sso-col">
                      <span>Not connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Connect", user_facebook_omniauth_authorize_path, :class => "btn btn-primary btn-sm" %>
                    </div>
                  <% end -%>
                <% end -%>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-sm sso-col">
                  <%- if !user_signed_in? %>
                    <%= link_to(user_github_omniauth_authorize_path, :class => "text-dark") do %>
                      <%# <i class="i-fa sso-github fab fa-github"></i>GitHub %>
                      <object type="image/svg+xml" data="/assets/img/icons/gh.svg" class="sso-icon">
                        <img src="/assets/img/icons/gh.png" class="sso-icon"></img>
                      </object><span class="sso-text">GitHub</span>
                    <% end %>
                  <% else %>
                    <%# <i class="i-fa sso-github fab fa-github"></i>GitHub %>
                    <object type="image/svg+xml" data="/assets/img/icons/gh.svg" class="sso-icon">
                      <img src="/assets/img/icons/gh.png" class="sso-icon"></img>
                    </object><span class="sso-text sso-manage-panel">GitHub</span>
                  <% end -%>
                </div>
                <%- if user_signed_in? %>
                  <%- if @user.github_oauth.present? %>
                    <div class="col-sm sso-col">
                      <span>Connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Disconnect", user_github_omniauth_authorize_path, method: :delete, :class => "btn btn-danger btn-sm" %>
                      <%- if @user.oauth_domains_except('github', ApplicationHelper.domain(request.url)).any? %>
                        <%# List all domains Oauth is connected via, if the provider is not enabled exclusively on this domain. %>
                        <button type="button" class="btn btn-sm btn-secondary ml-2" data-toggle="popover" title="Connected via:" data-content="
                          <%= @user.oauth_domains('github').join(', ') %>
                        ">?</button>
                      <% end -%>
                    </div>
                  <% else %>
                    <div class="col-sm sso-col">
                      <span>Not connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Connect", user_github_omniauth_authorize_path, :class => "btn btn-primary btn-sm" %>
                    </div>
                  <% end -%>
                <% end -%>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-sm sso-col">
                  <%- if !user_signed_in? %>
                    <%= link_to(user_gitlab_omniauth_authorize_path, :class => "text-dark") do %>
                      <%#= <i class="i-fa sso-gitlab fab fa-gitlab"></i>GitLab %>
                      <object type="image/svg+xml" data="/assets/img/icons/gl.svg" class="sso-icon">
                        <img src="/assets/img/icons/gl.png" class="sso-icon"></img>
                      </object><span class="sso-text">GitLab</span>
                    <% end %>
                  <% else %>
                    <%#= <i class="i-fa sso-gitlab fab fa-gitlab"></i>GitLab %>
                    <object type="image/svg+xml" data="/assets/img/icons/gl.svg" class="sso-icon">
                      <img src="/assets/img/icons/gl.png" class="sso-icon"></img>
                    </object><span class="sso-text sso-manage-panel">GitLab</span>
                  <% end -%>
                </div>
                <%- if user_signed_in? %>
                  <%- if @user.gitlab_oauth.present? %>
                    <div class="col-sm sso-col">
                      <span>Connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Disconnect", user_gitlab_omniauth_authorize_path, method: :delete, :class => "btn btn-danger btn-sm" %>
                      <%- if @user.oauth_domains_except('gitlab', ApplicationHelper.domain(request.url)).any? %>
                        <%# List all domains Oauth is connected via, if the provider is not enabled exclusively on this domain. %>
                        <button type="button" class="btn btn-sm btn-secondary ml-2" data-toggle="popover" title="Connected via:" data-content="
                          <%= @user.oauth_domains('gitlab').join(', ') %>
                        ">?</button>
                      <% end -%>
                    </div>
                  <% else %>
                    <div class="col-sm sso-col">
                      <span>Not connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Connect", user_gitlab_omniauth_authorize_path, :class => "btn btn-primary btn-sm" %>
                    </div>
                  <% end -%>
                <% end -%>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-sm sso-col">
                  <%- if !user_signed_in? %>
                    <%= link_to(user_google_oauth2_omniauth_authorize_path, :class => "text-dark") do %>
                      <%#= <i class="i-fa sso-google fab fa-google"></i>Google %>
                      <object type="image/svg+xml" data="/assets/img/icons/go.svg" class="sso-icon">
                        <img src="/assets/img/icons/go.png" class="sso-icon"></img>
                      </object><span class="sso-text">Google</span>
                    <% end %>
                  <% else %>
                    <%#= <i class="i-fa sso-google fab fa-google"></i>Google %>
                    <object type="image/svg+xml" data="/assets/img/icons/go.svg" class="sso-icon">
                      <img src="/assets/img/icons/go.png" class="sso-icon"></img>
                    </object><span class="sso-text sso-manage-panel">Google</span>
                  <% end -%>
                </div>
                <%- if user_signed_in? %>
                  <%- if @user.google_oauth2_oauth.present? %>
                    <div class="col-sm sso-col">
                      <span>Connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Disconnect", user_google_oauth2_omniauth_authorize_path, method: :delete, :class => "btn btn-danger btn-sm" %>
                      <%- if @user.oauth_domains_except('google_oauth2', ApplicationHelper.domain(request.url)).any? %>
                        <%# List all domains Oauth is connected via, if the provider is not enabled exclusively on this domain. %>
                        <button type="button" class="btn btn-sm btn-secondary ml-2" data-toggle="popover" title="Connected via:" data-content="
                          <%= @user.oauth_domains('google_oauth2').join(', ') %>
                        ">?</button>
                      <% end -%>
                    </div>
                  <% else %>
                    <div class="col-sm sso-col">
                      <span>Not connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Connect", user_google_oauth2_omniauth_authorize_path, :class => "btn btn-primary btn-sm" %>
                    </div>
                  <% end -%>
                <% end -%>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-sm sso-col">
                  <%- if !user_signed_in? %>
                    <%= link_to(user_twitch_omniauth_authorize_path, :class => "text-dark") do %>
                      <%# <i class="i-fa sso-twitch fab fa-twitch"></i>Twitch %>
                      <object type="image/svg+xml" data="/assets/img/icons/jtv.svg" class="sso-icon">
                        <img src="/assets/img/icons/jtv.png" class="sso-icon"></img>
                      </object><span class="sso-text">Twitch</span>
                    <% end %>
                  <% else %>
                    <%# <i class="i-fa sso-twitch fab fa-twitch"></i>Twitch %>
                    <object type="image/svg+xml" data="/assets/img/icons/jtv.svg" class="sso-icon">
                      <img src="/assets/img/icons/jtv.png" class="sso-icon"></img>
                    </object><span class="sso-text sso-manage-panel">Twitch</span>
                  <% end -%>
                </div>
                <%- if user_signed_in? %>
                  <%- if @user.twitch_oauth.present? %>
                    <div class="col-sm sso-col">
                      <span>Connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Disconnect", user_twitch_omniauth_authorize_path, method: :delete, :class => "btn btn-danger btn-sm" %>
                      <%- if @user.oauth_domains_except('twitch', ApplicationHelper.domain(request.url)).any? %>
                        <%# List all domains Oauth is connected via, if the provider is not enabled exclusively on this domain. %>
                        <button type="button" class="btn btn-sm btn-secondary ml-2" data-toggle="popover" title="Connected via:" data-content="
                          <%= @user.oauth_domains('twitch').join(', ') %>
                        ">?</button>
                      <% end -%>
                    </div>
                  <% else %>
                    <div class="col-sm sso-col">
                      <span>Not connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Connect", user_twitch_omniauth_authorize_path, :class => "btn btn-primary btn-sm" %>
                    </div>
                  <% end -%>
                <% end -%>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="container">
              <div class="row">
                <div class="col-sm sso-col">
                  <%- if !user_signed_in? %>
                    <%= link_to(user_twitter_omniauth_authorize_path, :class => "text-dark") do %>
                      <%# <i class="i-fa sso-twitter fab fa-twitter"></i>Twitter %>
                      <object type="image/svg+xml" data="/assets/img/icons/tw.svg" class="sso-icon">
                        <img src="/assets/img/icons/tw.png" class="sso-icon"></img>
                      </object><span class="sso-text">Twitter</span>
                    <% end %>
                  <% else %>
                    <%# <i class="i-fa sso-twitter fab fa-twitter"></i>Twitter %>
                    <object type="image/svg+xml" data="/assets/img/icons/tw.svg" class="sso-icon">
                      <img src="/assets/img/icons/tw.png" class="sso-icon"></img>
                    </object><span class="sso-text sso-manage-panel">Twitter</span>
                  <% end -%>
                </div>
                <%- if user_signed_in? %>
                  <%- if @user.twitter_oauth.present? %>
                    <div class="col-sm sso-col">
                      <span>Connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Disconnect", user_twitter_omniauth_authorize_path, method: :delete, :class => "btn btn-danger btn-sm" %>
                      <%- if @user.oauth_domains_except('twitter', ApplicationHelper.domain(request.url)).any? %>
                        <%# List all domains Oauth is connected via, if the provider is not enabled exclusively on this domain. %>
                        <button type="button" class="btn btn-sm btn-secondary ml-2" data-toggle="popover" title="Connected via:" data-content="
                          <%= @user.oauth_domains('twitter').join(', ') %>
                        ">?</button>
                      <% end -%>
                    </div>
                  <% else %>
                    <div class="col-sm sso-col">
                      <span>Not connected</span>
                    </div>
                    <div class="col-sm sso-col">
                      <%= link_to "Connect", user_twitter_omniauth_authorize_path, :class => "btn btn-primary btn-sm" %>
                    </div>
                  <% end -%>
                <% end -%>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end -%>
