<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !@form_errors.nil? && @form_errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@form_errors.count, "error") %> prohibited your ban from being instated:</h4>
            <ul>
              <% @form_errors.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
            <p class="card-text">The user has not been banned.</p>
          </div>
          <hr />
        <% end -%>
        <h4 class="card-title">
          <%- if !@prefs[:unban] && !@prefs[:revise] %>
            Ban User <%= @user.id %>
          <% elsif @prefs[:revise] %>
            Adjust Ban for User <%= @user.id %>
          <% else %>
            Unban User <%= @user.id %>
          <% end -%>
        </h4>
        <div class="row">
          <div class="col">
            <%= render 'admin/bans/user_ban_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
