<div class="form-inline justify-content-center">
  <%= form_tag(admin_searches_path, method: :get) do %>
    <div class="row mb-2">
      <div class="col col-12 col-md-2">
        <%= label_tag :query_type, "Search Type", :class => "card-text mb-2" %>
        <div class="field form-group mb-3">
          <%= select_tag :query_type, options_for_select(Admin::DashboardHelper.dash_search_types, params[:query_type]), :class => "form-control col-md-12" %>
          <small id="query_typeHelp" class="form-text text-muted">Type of search by the user</small>
        </div>
      </div>
      <div class="col col-12 col-md-3">
        <%= label_tag :execution_time_min, "Minimum Execution Time", :for => :execution_time_min, :class => "mb-2" %>
        <div class="field form-group">
          <%= number_field_tag :execution_time_min, params[:execution_time_min], :min => "0", :step => "any", :class => "form-control col-md-12" %>
          <small id="execution_time_minHelp" class="form-text text-muted">Lower inclusive boundary, in seconds</small>
        </div>
      </div>
      <div class="col col-12 col-md-3">
        <%= label_tag :execution_time_max, "Maximum Execution Time", :for => :execution_time_max, :class => "mb-2" %>
        <div class="field form-group">
          <%= number_field_tag :execution_time_max, params[:execution_time_max], :min => "0", :step => "any", :class => "form-control col-md-12" %>
          <small id="execution_time_maxHelp" class="form-text text-muted">Upper inclusive boundary, in seconds</small>
        </div>
      </div>
      <div class="col col-12 col-md-2">
        <%= label_tag :user_id, "User ID", :for => :user_id, :class => "mb-2" %>
        <div class="field form-group">
          <%= text_field_tag :user_id, params[:user_id], :class => "form-control col-md-12" %>
          <small id="user_idHelp" class="form-text text-muted">A user's ID or primary email address</small>
        </div>
      </div>
      <div class="col col-12 col-md-2">
        <%= label_tag :query_scope, "Query Scope", :class => "card-text mb-2" %>
        <div class="field form-group mb-3">
          <%= select_tag :query_scope, options_for_select(Admin::DashboardHelper.dash_search_scopes, params[:query_scope]), :class => "form-control col-md-12" %>
          <small id="query_scopeHelp" class="form-text text-muted">Admin scope is the dashboard, everything else is user</small>
        </div>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col col-12 col-md-3">
        <%= label_tag :query_notes, "Errors", :class => "card-text mb-2" %>
        <div class="field form-group mb-3">
          <%= select_tag :query_notes, options_for_select(Admin::DashboardHelper.dash_search_errors, params[:query_notes]), :class => "form-control col-md-12" %>
          <small id="query_notesHelp" class="form-text text-muted">Number of errors caused by the search</small>
        </div>
      </div>
      <div class="col col-12 col-md-3">
        <%= label_tag :start_time, "Starting Time", :for => :start_time, :class => "card-text mb-2" %>
        <div class="field form-group">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                  <%= text_field_tag :start_time, params[:start_time], :class => "form-control datetimepicker-input col-md-12", data: { target: "#datetimepicker1" }, :rows => "1" %>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker" title="Interactive date/time selector">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
            $(function () {
              $('#datetimepicker1').datetimepicker({
                format: '<%= "#{@prefs[:js_dt_format]}" %>'
                <%#= Documentation: https://tempusdominus.github.io/bootstrap-4/Options/#format %>
              });
            });
            </script>
          </div>
          <small id="start_timeHelp" class="form-text text-muted">Lower inclusive boundary.<br />Format: <%= @prefs[:user_dt_format] %></small>
        </div>
      </div>
      <div class="col col-12 col-md-3">
        <%= label_tag :end_time, "Ending Time", :for => :end_time, :class => "card-text mb-2" %>
        <div class="field form-group">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                  <%= text_field_tag :end_time, params[:end_time], :class => "form-control datetimepicker-input col-md-12", data: { target: "#datetimepicker2" }, :rows => "1" %>
                  <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker" title="Interactive date/time selector">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
                </div>
              </div>
            </div>
            <script type="text/javascript">
            $(function () {
              $('#datetimepicker2').datetimepicker({
                format: '<%= "#{@prefs[:js_dt_format]}" %>'
                <%#= Documentation: https://tempusdominus.github.io/bootstrap-4/Options/#format %>
              });
            });
            </script>
          </div>
          <small id="end_timeHelp" class="form-text text-muted">Upper inclusive boundary.<br />Format: <%= @prefs[:user_dt_format] %></small>
          <noscript>
            <small id="end_timeHelp" class="form-text text-muted">You have JavaScript disabled, the date picker will not work without it.</small>
          </noscript>
        </div>
      </div>
      <div class="col col-md-3">
        <%= label_tag :per_page, "Results per Page", :for => :per_page, :class => "mb-2" %>
        <div class="field form-group">
          <%= number_field_tag :per_page, params[:per_page], :min => PreferencesHelper.min_per_page, :max => PreferencesHelper.max_per_page, :class => "form-control col-md-12" %>
          <small id="per_pageHelp" class="form-text text-muted">Enter as a number from <%= PreferencesHelper.min_per_page %> to <%= PreferencesHelper.max_per_page %>. Default: <%= @prefs[:per_page] %></small>
        </div>
        <%= submit_tag 'Search', :class => "btn btn-primary col-auto float-right", :name => nil %>
      </div>
    </div>
  <% end %>
</div>
