<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <p class="card-text">Some ideas:</p>
        <ul>
          <li>Unresolved reports indicator that only displays if >=1 unresolved report - I think it only displays if >=1 report, but I need to clear them all out to test that...</li>
          <li>Permissions system - move report resolution from /account/reports/:id/resolve to /admin/reports/:id/resolve so I can easily integrate it with the AdminController verify_permissions method.</li>
        </ul>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac maximus arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In felis lorem, feugiat et molestie in, maximus ultricies diam. Fusce massa odio, auctor ut dictum quis, accumsan non urna. Nullam iaculis turpis non diam accumsan pharetra quis sed nisi. Phasellus rhoncus, velit non gravida finibus, massa metus elementum justo, vitae consectetur arcu tortor sit amet libero. Nam non nulla velit. Aliquam sodales ante sit amet urna aliquet auctor. Pellentesque commodo enim libero, et cursus ante sollicitudin ac. Mauris vel elementum purus. Vivamus consequat non orci pulvinar maximus. Etiam at egestas tortor. Curabitur blandit tortor ut diam egestas, a hendrerit est venenatis. Duis feugiat justo tortor, non mattis enim vestibulum eu. Suspendisse eu massa eget quam blandit ullamcorper sed nec lacus.</p>
        <p class="card-text">Phasellus ac tempor dolor. Sed non dui venenatis, sollicitudin nulla nec, rutrum tortor. Donec sed porttitor nunc. Ut semper magna a suscipit tincidunt. Praesent sit amet ex diam. Maecenas vitae sollicitudin diam. Duis at sapien quam. Aliquam elementum pretium justo eget faucibus. Quisque facilisis, sapien at lacinia molestie, augue enim sagittis arcu, vel tempor dolor arcu id magna. Aliquam at diam leo. Nulla facilisis ex ac nulla eleifend, eu ultricies dui pulvinar. Cras quis felis elit. Nullam auctor leo ac orci facilisis convallis. Nulla molestie iaculis magna, ac ornare ante feugiat vel. Nullam eleifend purus ac libero laoreet, vitae ultricies urna commodo. Aenean ultrices, nulla eu scelerisque sollicitudin, dui nulla molestie nulla, et tincidunt elit diam id dolor.</p>
      </div>
    </div>
  </div>
</div>
