<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">User <%= @user.id %>'s Profile</h4>
        <div class="card-columns settings-columns">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Basic Account Information</h5>
              <ul>
                <li><b>ID:</b> <%= @user.id %></li>
                <li><b>Name:</b> <%= @user.name %></li>
                <li><b>Email:</b> <%= @user.email %></li>
                <li><b>Email Confirmed:</b>
                  <%- if @user.confirmable %>
                    <%= @user.confirmed_at || "False" %>
                    <%- if @user.confirmation_sent_at %>
                      (confirmation request sent <%= @user.confirmation_sent_at %>)
                    <% else %>
                      (confirmation request not sent)
                    <% end -%>
                  <% else %>
                    Not needed, SSO only
                  <% end -%>
                </li>
                <li><b>Backup Email:</b> <%= @user.backup_email %></li>
                <li><b>Role:</b> <%= @user.role.capitalize %></li>
                <li><b>Successful Logins:</b> <%= @user.sign_in_count %></li>
                <li><b>Currently Banned:</b>
                  <%= @user.is_banned?.to_s.capitalize %>
                  <% if @user.is_banned? %>
                    <% if @user.permanently_banned? %>
                      (Permanently)
                    <% else %>
                      (until <%= ApplicationHelper.datetime_to_str(@user.banned_until, show_offset: true, show_seconds: true) %>)
                    <% end %>
                  <% end %>
                </li>
                <li><b>Bans Received:</b> <%= @user.bans_received %></li>
                <li><b>Most Recent Login:</b> <%= "#{ApplicationHelper.datetime_to_str(@user.current_sign_in_at, show_offset: true)} (from <code>#{@user.current_sign_in_ip}</code>)".html_safe if @user.current_sign_in_at %></li>
                <li><b>Previous Login:</b> <%= "#{ApplicationHelper.datetime_to_str(@user.last_sign_in_at, show_offset: true)} (from <code>#{@user.last_sign_in_ip}</code>)".html_safe if @user.last_sign_in_at %></li>
                <li><b>EULA Accepted On:</b>
                  <%= if @user.eula_accepted_at then ApplicationHelper.datetime_to_str(@user.eula_accepted_at, show_offset: true) else "Not accepted" end %>
                  <% if @user.eula_accepted_at and @user.eula_acceptance_needed? %>
                    (not current EULA)
                  <% end %>
                </li>
                <li><b>Joined On:</b> <%= ApplicationHelper.datetime_to_str(@user.created_at, show_offset: true) %></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Integrations & Security</h5>
              <span class="card-text">SSO Integrations:</span>
              <ul>
                <li><b>Discord:</b> <%= @user.discord_oauth.present?.to_s.capitalize %>
                  <%- if @user.discord_oauth.present? %>
                    <ul>
                      <li><b>Email:</b> <%= @user.discord_oauth.email %></li>
                      <li><b>UID:</b> <%= @user.discord_oauth.uid %></li>
                      <li><b>Username:</b> <%= @user.discord_oauth.username %></li>
                    </ul>
                  <% end -%>
                </li>
                <li><b>Facebook:</b> <%= @user.facebook_oauth.present?.to_s.capitalize %>
                  <%- if @user.facebook_oauth.present? %>
                    <ul>
                      <li><b>Email:</b> <%= @user.facebook_oauth.email %></li>
                      <li><b>Oauth Token Expiration:</b> <%= ApplicationHelper.datetime_to_str(@user.facebook_oauth.expires_at, show_offset: true) %></li>
                      <li><b>UID:</b> <%= @user.facebook_oauth.uid %></li>
                      <li><b>Username:</b> <%= @user.facebook_oauth.username %></li>
                    </ul>
                  <% end -%>
                </li>
                <li><b>GitHub:</b> <%= @user.github_oauth.present?.to_s.capitalize %>
                  <%- if @user.github_oauth.present? %>
                    <ul>
                      <li><b>Email:</b> <%= @user.github_oauth.email %></li>
                      <li><b>UID:</b> <%= @user.github_oauth.uid %></li>
                      <li><b>Username:</b> <%= @user.github_oauth.username %></li>
                    </ul>
                  <% end -%>
                </li>
                <li><b>GitLab:</b> <%= @user.gitlab_oauth.present?.to_s.capitalize %>
                  <%- if @user.gitlab_oauth.present? %>
                    <ul>
                      <li><b>Email:</b> <%= @user.gitlab_oauth.email %></li>
                      <li><b>UID:</b> <%= @user.gitlab_oauth.uid %></li>
                      <li><b>Username:</b> <%= @user.gitlab_oauth.username %></li>
                    </ul>
                  <% end -%>
                </li>
                <li><b>Google:</b> <%= @user.google_oauth2_oauth.present?.to_s.capitalize %>
                  <%- if @user.google_oauth2_oauth.present? %>
                    <ul>
                      <li><b>Email:</b> <%= @user.google_oauth2_oauth.email %></li>
                      <li><b>Oauth Token Expiration:</b> <%= ApplicationHelper.datetime_to_str(@user.google_oauth2_oauth.expires_at, show_offset: true) %></li>
                      <li><b>UID:</b> <%= @user.google_oauth2_oauth.uid %></li>
                    </ul>
                  <% end -%>
                </li>
                <li><b>Twitch:</b> <%= @user.twitch_oauth.present?.to_s.capitalize %>
                  <%- if @user.twitch_oauth.present? %>
                    <ul>
                      <li><b>Email:</b> <%= @user.twitch_oauth.email %></li>
                      <li><b>UID:</b> <%= @user.twitch_oauth.uid %></li>
                      <li><b>Username:</b> <%= @user.twitch_oauth.username %></li>
                    </ul>
                  <% end -%>
                </li>
                <li><b>Twitter:</b> <%= @user.twitter_oauth.present?.to_s.capitalize %>
                  <%- if @user.twitter_oauth.present? %>
                    <ul>
                      <li><b>Email:</b> <%= @user.twitter_oauth.email %></li>
                      <li><b>UID:</b> <%= @user.twitter_oauth.uid %></li>
                      <li><b>Username:</b> <%= @user.twitter_oauth.username %></li>
                    </ul>
                  <% end -%>
                </li>
              </ul>
              <span class="card-text">2FA:</span>
              <ul>
                <li><b>TOTP 2FA Enabled:</b> <%= if @user.otp_enabled_at then ApplicationHelper.datetime_to_str(@user.otp_enabled_at, show_offset: true) else "False" end %></li>
                <li><b>U2F/WebAuthn 2FA Enabled:</b>
                  <%- if @user.two_factor_u2f_enabled? %>
                    <%= @user.two_factor_u2f_num_tokens %> tokens enabled
                  <% else %>
                    False
                  <% end -%>
                </li>
                <li><b>2FA Recovery Codes Generated:</b> <%= if @user.otp_enabled_at then ApplicationHelper.datetime_to_str(@user.otp_backup_codes_enabled_at, show_offset: true) else "False" end %></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Messages</h5>
              <p class="card-text">Last <%= @user_messages[:recent_count] %> Messages:</p>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Subject</th>
                      <th scope="col">Responses</th>
                      <th scope="col">Locked?</th>
                      <th scope="col">Date Sent</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- if @user_messages[:recent].count == 0 %>
                      <tr>
                        <td colspan="5">No messages</td>
                      </tr>
                    <% else %>
                      <%- @user_messages[:recent].each do |conversation| %>
                        <tr class="<%= 'table-primary' if !params[:highlight].nil? && report.id == params[:highlight].to_i %>">
                          <td><%= conversation.subject %></td>
                          <td><%= conversation.num_responses %></td>
                          <td><%= conversation.locked ? 'Yes' : 'No' %></td>
                          <td><%= ApplicationHelper.datetime_to_str(conversation.created_at, show_offset: false) %></td>
                          <td><%= link_to 'Show', admin_conversation_path(conversation.id), :method => :get, :class => "text-primary" %></td>
                        </tr>
                      <% end -%>
                    <% end -%>
                  </tbody>
                </table>
              </div>
              <%= link_to admin_conversations_path(:target_id => @user.id), :class => "" do %>
                View all messages from this user (<%= pluralize(@user_messages[:all_count], "message") %>)
              <% end %><br />
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Reports</h5>
              <p class="card-text">Last <%= @user_reports[:recent_count] %> Reports:</p>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Reason</th>
                      <th scope="col">Resolved?</th>
                      <th scope="col">Date Reported</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- if @user_reports[:recent].count == 0 %>
                      <tr>
                        <td colspan="5">No reports</td>
                      </tr>
                    <% else %>
                      <%- @user_reports[:recent].each do |report| %>
                        <tr class="<%= 'table-primary' if !params[:highlight].nil? && report.id == params[:highlight].to_i %>">
                          <td><%= report.id %></td>
                          <td><%= report.report_reason %></td>
                          <%- if !report.resolved? %>
                            <td class="border-right-0">
                              No
                            </td>
                          <% else %>
                            <td>
                              Yes - <%= report.resolving_action %>
                            </td>
                          <% end -%>
                          <td><%= ApplicationHelper.datetime_to_str(report.created_at, show_offset: false) %></td>
                          <td><%= link_to 'Show', report, :method => :get, :class => "text-primary" %></td>
                        </tr>
                      <% end -%>
                    <% end -%>
                  </tbody>
                </table>
              </div>
              <%= link_to admin_reports_path(:user_id => @user.id, :resolved => :all), :class => "" do %>
                View all reports from this user (<%= pluralize(@user_reports[:all_count], "report") %>)
              <% end %><br />
              <%= link_to admin_reports_path(:user_id => @user.id, :resolved => :unresolved), :class => "" do %>
                View unresolved reports from this user (<%= pluralize(@user_reports[:unresolved_count], "report") %>)
              <% end %><br />
              <%= link_to admin_reports_path(:user_id => @user.id, :resolved => :resolved), :class => "" do %>
                View resolved reports from this user (<%= pluralize(@user_reports[:resolved_count], "report") %>)
              <% end %><br />
              <%- if @user_reports[:admin_resolved_count] %>
                <%= link_to admin_reports_path(:resolver_id => @user.id, :resolved => :resolved), :class => "" do %>
                  View reports resolved by this user (<%= pluralize(@user_reports[:resolved_count], "report") %>)
                <% end %>
              <% end -%>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Searches</h5>
              <p class="card-text">Last <%= @user_searches[:recent_count] %> Searches:</p>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Search Type</th>
                      <th scope="col">User ID</th>
                      <th scope="col">Execution Time (Seconds)</th>
                      <th scope="col">Date</th>
                      <th scope="col">Errors</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- if @user_searches[:recent].count == 0 %>
                      <tr>
                        <td colspan="6">No searches</td>
                      </tr>
                    <% else %>
                      <%- @user_searches[:recent].each do |search| %>
                        <tr>
                          <td><%= Admin::DashboardHelper.dash_search_types.key(search.query_type) %></td>
                          <td><%= search.user_id %></td>
                          <td><%= search.execution_time %></td>
                          <td><%= ApplicationHelper.datetime_to_str(search.created_at, show_offset: false) %></td>
                          <td class="border-right-0"><%= if search.query_notes && search.query_notes['error'] then "Yes" else "None" end %></td>
                          <td><a href="#">Show (not yet implemented)</a></td>
                        </tr>
                      <% end -%>
                    <% end -%>
                  </tbody>
                </table>
              </div>
              <span class="card-text">Average search execution time: <%= @user_searches[:user_avg_time] %> seconds (<%= @user_searches[:avg_difference] %> seconds <%= @user_searches[:trend] %> than the average of <%= @user_searches[:overall_avg_time] %> seconds for all users)</span><br />
              <%= link_to admin_searches_path(:user_id => @user.id, :query_type => :all), :class => "" do %>
                View all searches by this user (<%= pluralize(@user_searches[:all_count], "search") %>)
              <% end %>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Preferences</h5>
              <span class="card-text">Appearance Settings:</span><br />
              <ul>
                <li><b>Default Sort Column:</b> <%= @user_preferences[:prefs].default_sort_col.capitalize %> (<code><%= @user_preferences[:prefs].default_sort_col %></code>)</li>
                <li><b>Default Sort Direction:</b> <%= if @user_preferences[:prefs].default_sort_order == 'asc' then 'Ascending' else 'Descending' end %> (<code><%= @user_preferences[:prefs].default_sort_order %></code>)</li>
                <li><b>Default Results per Page:</b> <%= @user_preferences[:prefs].search_results %></li>
                <li><b>Theme:</b> <%= @user_preferences[:prefs].theme %></li>
              </ul>
              <span class="card-text">Localization Settings:</span><br />
              <ul>
                <li><b>Date Format:</b> <%= valid_date_formats.key(@user_preferences[:prefs].date_format) %> (<code><%= @user_preferences[:prefs].date_format %></code>)</li>
                <li><b>24 Hour Time:</b> <%= @user_preferences[:prefs].use_24hr_time.to_s.capitalize %></li>
                <li><b>Time Zone Offset:</b> <%= @user_preferences[:prefs].tz_offset %></li>
              </ul>
              <span class="card-text">Notification Settings:</span><br />
              <ul>
                <li><b>Password Changes - Primary Email:</b> <%= @user_preferences[:prefs].notify_pwchange_pri.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_pwchange_pri'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_pwchange_pri] %>)</li>
                <li><b>Password Changes - Backup Email:</b> <%= @user_preferences[:prefs].notify_pwchange_bkp.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_pwchange_bkp'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_pwchange_bkp] %>)</li>
                <li><b>Password Resets - Primary Email:</b> <%= @user_preferences[:prefs].notify_pwreset_pri.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_pwreset_pri'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_pwreset_pri] %>)</li>
                <li><b>Password Resets - Backup Email:</b> <%= @user_preferences[:prefs].notify_pwreset_bkp.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_pwreset_bkp'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_pwreset_bkp] %>)</li>
                <li><b>SSO Changes - Primary Email:</b> <%= @user_preferences[:prefs].notify_sso_pri.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_sso_pri'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_sso_pri] %>)</li>
                <li><b>SSO Changes - Backup Email:</b> <%= @user_preferences[:prefs].notify_sso_bkp.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_sso_bkp'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_sso_bkp] %>)</li>
                <li><b>2FA Changes - Primary Email:</b> <%= @user_preferences[:prefs].notify_2fa_pri.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_2fa_pri'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_2fa_pri] %>)</li>
                <li><b>2FA Changes - Backup Email:</b> <%= @user_preferences[:prefs].notify_2fa_bkp.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_2fa_bkp'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_2fa_bkp] %>)</li>
                <li><b>Admin Messages - Primary Email:</b> <%= @user_preferences[:prefs].notify_admin_pri.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_admin_pri'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_admin_pri] %>)</li>
                <li><b>Admin Messages - Backup Email:</b> <%= @user_preferences[:prefs].notify_admin_bkp.to_s.capitalize %> (default: <%= @user_preferences[:defaults]['notify_admin_bkp'] %>, modifiable: <%= @user_preferences[:settable_notify][:notify_admin_bkp] %>)</li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Bans</h5>
              <p class="card-text">All Bans Received:</p>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Banning User</th>
                      <th scope="col">Type</th>
                      <th scope="col">Internal Reason</th>
                      <th scope="col">External Reason</th>
                      <th scope="col">Filed On</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- if @user_bans[:bans_received].count == 0 %>
                      <tr>
                        <td colspan="5">User has never been banned</td>
                      </tr>
                    <% else %>
                      <%- @user_bans[:bans_received].each do |ban| %>
                        <tr>
                          <td>
                            <%- if ban.banning_user_account %>
                              <%= link_to "#{ban.banning_user_account.name} (ID #{ban.banning_user})", admin_manage_user_path(ban.banning_user) %>
                            <% else %>
                              <%= "ID #{ban.banning_user} (Deleted)" %>
                            <% end -%>
                          </td>
                          <td>
                            <%- if ban.permanent_ban %>
                              Permanent
                            <% elsif ban.ban_reversal %>
                              Un-ban
                            <% else %>
                              Temporary:<br />Ends on <%= ApplicationHelper.datetime_to_str(ban.ban_end_time, show_offset: false, show_seconds: false) %>
                            <% end -%>
                          </td>
                          <td><%= ban.internal_reason %></td>
                          <td><%= ban.external_reason %></td>
                          <td><%= ApplicationHelper.datetime_to_str(ban.created_at, show_offset: false) %></td>
                        </tr>
                      <% end -%>
                    <% end -%>
                  </tbody>
                </table>
              </div>
              <p class="card-text">Last <%= @user_bans[:issued_recent_count] %> Bans Given:</p>
              <div class="table-responsive">
                <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Banned User</th>
                      <th scope="col">Type</th>
                      <th scope="col">Internal Reason</th>
                      <th scope="col">External Reason</th>
                      <th scope="col">Filed On</th>
                    </tr>
                  </thead>
                  <tbody>
                    <%- if @user_bans[:bans_issued_count] == 0 %>
                      <tr>
                        <td colspan="5">User has never issued any bans</td>
                      </tr>
                    <% else %>
                      <%- @user_bans[:bans_issued].each do |ban| %>
                        <tr>
                          <td>
                            <%- if ban.user_id? %>
                              <%= link_to "#{ban.banned_user_account.name} (ID #{ban.banned_user})", admin_manage_user_path(ban.banned_user) %>
                            <% else %>
                              <%= "ID #{ban.banned_user} (Deleted)" %>
                            <% end -%>
                          </td>
                          <td>
                            <%- if ban.permanent_ban %>
                              Permanent
                            <% elsif ban.ban_reversal %>
                              Un-ban
                            <% else %>
                              Temporary:<br />Ends on <%= ApplicationHelper.datetime_to_str(ban.ban_end_time, show_offset: false, show_seconds: false) %>
                            <% end -%>
                          </td>
                          <td><%= ban.internal_reason %></td>
                          <td><%= ban.external_reason %></td>
                          <td><%= ApplicationHelper.datetime_to_str(ban.created_at, show_offset: false) %></td>
                        </tr>
                      <% end -%>
                    <% end -%>
                  </tbody>
                </table>
              </div>
              <a href="#"><%= "View all bans by this user (#{pluralize(@user_bans[:bans_given_count], 'ban')}, #{pluralize(@user_bans[:bans_removed_count], 'ban reversal')}, #{@user_bans[:bans_issued_count]} total) (not yet implemented)" %></a></br>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Actions</h5>
              <%= link_to new_admin_conversation_path(target_id: @user.id), :method => :get, :class => "btn btn-primary", :role => "button" do %>
                <i class="fas fa-envelope mr-2"></i>Send Message to User
              <% end %>
              <%- if @user.role == 'admin' %>
                <%= button_to admin_manage_user_path(@user), data: { confirm: "Are you sure?" }, :method => :post, :class => "btn btn-secondary", :role => "button" do %>
                  <i class="fas fa-hand-point-down mr-2"></i>Demote from Admin
                <% end %>
              <% else %>
                <%= button_to admin_manage_user_path(@user), data: { confirm: "Are you sure?" }, :method => :post, :class => "btn btn-secondary", :role => "button" do %>
                  <i class="fas fa-hand-point-up mr-2"></i>Promote to Admin
                <% end %>
              <% end -%>
              <%- if !@user.is_banned? %>
                <%= link_to new_admin_user_ban_path(@user.id), :class => "btn btn-warning", :role => "button" do %>
                  <i class="fas fa-gavel mr-2"></i>Ban User
                <% end %>
              <% else %>
                <%= link_to new_admin_user_ban_path(@user.id, :type => :adjust), :class => "btn btn-warning", :role => "button" do %>
                  <i class="fas fa-edit mr-2"></i>Change Current Ban Length
                <% end %>
                <%= link_to new_admin_user_ban_path(@user.id), :class => "btn btn-info", :role => "button" do %>
                  <i class="fas fa-hands-helping mr-2"></i>Unban User
                <% end %>
              <% end -%>
              <%= button_to admin_manage_user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger", :role => "button" do %>
                <i class="fas fa-trash-alt mr-2"></i>Delete Account
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
