<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !@SearchErrors.nil? && @SearchErrors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@SearchErrors.count, "error") %> prohibited your search from being executed:</h4>
            <ul>
              <% @SearchErrors.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
            <p class="card-text">A blank search has been executed.</p>
          </div>
          <hr />
        <% end -%>
        <p class="card-text">[Search form here - when finished, searches will be logged with a category like "User Management". I'll want to include a search for number of bans, permanently banned, currently banned, etc.]</p>
        <p class="card-text">Note: When I log average calculations from profile pages and report/search/ban fetching, I'll need to categorize it like "User Profile - [Search/Report/Bans]"</p>
        <noscript>
          <style> .collapse:not(.show){ display:contents; } </style>
          <!-- Auto-uncollapse items when JavaScript is disabled -->
          <p class="card-text">To collapse user details, you must enable JavaScript.</p>
        </noscript>
        
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"><%#= dash_user_sort_link "id", "ID" %>ID</th>
                <th scope="col"><%#= dash_user_sort_link "name", "Name" %>Name</th>
                <th scope="col"><%#= dash_user_sort_link "role", "Role" %>Role</th>
                <th scope="col">2FA Enabled?</th>
                <th scope="col">Banned?</th>
                <th scope="col"><%#= dash_user_sort_link "created_at", "Joined On" %>Joined On</th>
                <th scope="col" colspan="2">Last Login</th>
              </tr>
            </thead>
            <tbody>
              <%- @users.each do |user| %>
                <tr>
                  <td><%= user.id %></td>
                  <td><%= user.name %></td>
                  <td><%= user.role.capitalize %></td>
                  <td><%= user.two_factor_enabled?.to_s.capitalize  %></td>
                  <td><%= user.is_banned?.to_s.capitalize %>
                    <% if user.is_banned? %>
                      <% if user.permanently_banned? %>
                        - Permanently
                      <% else %>
                        - until <%= user.banned_until %>
                      <% end %>
                    <% end %>
                  </td>
                  <td><%= user.created_at %></td>
                  <td><%= user.current_sign_in_at %></td>
                  <td>
                    <button class="btn btn-primary float-right accordion-row-toggler" type="button" data-toggle="collapse" data-target="#collapse<%= user.id %>" aria-expanded="false" aria-controls="collapse<%= user.id %>">
                      Details <i class="fas fa-chevron-circle-down"></i>
                    </button>
                  </td>
                </tr>
                <tr class="collapse" id="collapse<%= user.id %>">
                  <td colspan="8">
                    <div>
                      <div>
                        <ul>
                          <li><b>Name:</b> <%= user.name %></li>
                          <li><b>Email:</b> <%= user.email %></li>
                          <li><b>Email Confirmed:</b>
                            <%- if user.confirmable %>
                              <%= (!user.confirmed_at.nil?).to_s.capitalize %>
                              <%- if user.confirmed_at %>
                                (confirmed <%= ApplicationHelper.datetime_to_str(user.confirmed_at, show_offset: true) %>)
                              <% elsif user.confirmation_sent_at %>
                                (confirmation request sent <%= ApplicationHelper.datetime_to_str(user.confirmation_sent_at, show_offset: true) %>)
                              <% else %>
                                (confirmation request not sent)
                              <% end -%>
                            <% else %>
                              Not needed, SSO only
                            <% end -%>
                          </li>
                          <li><b>Backup Email:</b> <%= user.backup_email %></li>
                          <li><b>Successful Logins:</b> <%= user.sign_in_count %></li>
                          <li><b>Most Recent Sign-in:</b> <%= ApplicationHelper.datetime_to_str(user.current_sign_in_at, show_offset: true) if user.current_sign_in_at %></li>
                          <li><b>Most Recent Sign-in IP:</b> <code><%= user.current_sign_in_ip %></code></li>
                          <li><b>Previous Sign-in:</b> <%= ApplicationHelper.datetime_to_str(user.last_sign_in_at, show_offset: true) if user.last_sign_in_at %></li>
                          <li><b>Previous Sign-in IP:</b> <code><%= user.last_sign_in_ip %></code></li>
                          <li><b>TOTP 2FA Enabled:</b> <%= user.otp_enabled_at || "False" %></li>
                          <li><b>U2F/WebAuthn 2FA Enabled:</b>
                            <%- if user.two_factor_u2f_enabled? %>
                              <%= pluralize(user.two_factor_u2f_num_tokens, "token") %> enabled
                            <% else %>
                              False
                            <% end -%>
                          </li>
                          <li><b>2FA Recovery Codes Generated:</b> <%= user.otp_backup_codes_enabled_at || "False" %></li>
                          <li><b>Oauth Providers Enabled:</b></li>
                          <table class="table table-sm">
                            <thead>
                              <tr>
                                <th scope="col">Discord</th>
                                <th scope="col">Facebook</th>
                                <th scope="col">GitHub</th>
                                <th scope="col">GitLab</th>
                                <th scope="col">Google</th>
                                <th scope="col">Twitch</th>
                                <th scope="col">Twitter</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><%= user.discord_oauth.present?.to_s.capitalize %></td>
                                <td><%= user.facebook_oauth.present?.to_s.capitalize %></td>
                                <td><%= user.github_oauth.present?.to_s.capitalize %></td>
                                <td><%= user.gitlab_oauth.present?.to_s.capitalize %></td>
                                <td><%= user.google_oauth2_oauth.present?.to_s.capitalize %></td>
                                <td><%= user.twitch_oauth.present?.to_s.capitalize %></td>
                                <td><%= user.twitter_oauth.present?.to_s.capitalize %></td>
                              </tr>
                            </tbody>
                          </table>
                        </ul>
                      </div>
                      <div>
                        <%= link_to "More Information", admin_manage_user_path(user.id) %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end -%>
            </tbody>
          </table>
          <div class="pagination justify-content-center">
            <%= paginate @users, theme: 'bootstrap4' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
