<%= form_with(model: conversation, url: conversations_path, local: true) do |f| %>
  <% if !conversation.nil? && conversation.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(conversation.errors.count, "error") %> prohibited this message from being saved:</h4>
      <ul>
      <% conversation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <hr />
  <% end %>

  <div class="field form-group">
    <%= f.label :subject, "Subject", :for => :conversation_subject %>
    <%= f.text_field :subject, id: :conversation_subject, :class => "form-control", :rows => "1" %>
    <small id="conversation_subjectHelp" class="form-text text-muted">Maximum <%= Rails.configuration.application[:common][:string_type_max_length] %> characters.</small>
  </div>

	<%= f.fields_for :messages do |f2| %>
		<%= f2.label :body, "Message", :for => :message_body %>
		<%= f2.text_area :body, id: :message_body, :class => "form-control", :rows => "4" %>
    <small id="message_bodyHelp" class="form-text text-muted">You can use <%= link_to "Markdown", help_markdown_path%> in this field. Inlined HTML will be ignored; maximum <%= Message.max_body_length %> characters.</small>
	<% end %>
	<br />

  <div class="actions">
    <%= f.submit "Send", :class => "btn btn-primary", :role => "button" %>
  </div>
<% end %>
