<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !@search_errors.nil? && @search_errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@search_errors.count, "error") %> prohibited your search from being executed:</h4>
            <ul>
              <% @search_errors.each do |attr, message| %>
                <li><%= "#{attr} #{message}" %></li>
              <% end %>
            </ul>
            <p class="card-text">A blank search has been executed.</p>
          </div>
          <hr />
        <% end -%>
        <h4 class="card-title">Your Messages</h4>
        <%= render "conversations/search_form" %>

				<div class="table-responsive">
				  <table class="table table-bordered table-striped">
				  	<thead>
				  		<tr>
                <th scope="col"><%= conversation_search_sort_link "subject", "Subject" %></th>
                <th scope="col"><%= conversation_search_sort_link "created_at", "Date Sent" %></th>
				  			<th scope="col">Last Response</th>
				  			<th scope="col">Unreads</th>
				  			<th scope="col" colspan="2">Closed?</th>
				  		</tr>
				  	</thead>
				  	<tbody>
				  		<% if @conversations.count == 0 %>
				  			<td colspan="5">No messages found</td>
				  		<% else %>
				  			<% @conversations.each do |conversation| %>
				  				<tr class="<%= 'table-primary' if !params[:highlight].nil? && conversation.id == params[:highlight].to_i %>">
				  		  	  <td><%= conversation.subject %></td>
				  		  	  <td><%= ApplicationHelper.datetime_to_str(conversation.created_at, show_offset: false) %></td>
                    <td>
                      <%= ApplicationHelper.datetime_to_str(conversation.messages.last.created_at, show_offset: false) %>
                      by
                      <% if conversation.messages.last.sent_by == Rails.configuration.application[:common][:system_user_id] %>
                        System
                      <% elsif conversation.messages.last.sender.nil? %>
                        (Deleted User)
                      <% elsif conversation.messages.last.sent_anonymously %>
                        An Admin
                      <% else %>
                        <%= conversation.messages.last.sender.name %>
                      <% end %>
                    </td>
				  				  <td><%= conversation.user_unread_count %></td>
				  				  <td><%= conversation.locked.to_s.capitalize %></td>
                    <td><%= link_to "View", conversation %>
				  				</tr>
				  			<% end %>
				  		<% end %>
				  	</tbody>
				  </table>
				</div>
        <div class="pagination justify-content-center">
          <%= paginate @conversations, theme: 'bootstrap4' %>
        </div>
      </div>
    </div>
  </div>
</div>
