<%= render "admin/shared/admin_title" %>

<div class="row">
  <div class="col">
    <%= render "admin/shared/admin_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Message Details - <%= @conversation.subject %></h4>
        <label for="msg-deleted-toggle" class="float-right msg-deleted-sw">Show Deleted Messages</label>
        <input type="checkbox" id="msg-deleted-toggle" class="float-right msg-deleted-sw mt-1 mr-1" checked="true"></input>
        <%# See app/assets/stylesheets/application.scss for an explanation of msg-deleted-sw. %>
        <% if @conversation.user && @conversation.user.id != @conversation.created_by %>
          <%# Admin sent message to a user whose account still exists. %>
          <p class="card-text mb-0">Sent to: <%= link_to @conversation.user.name, admin_manage_user_path(@conversation.user) %> (ID <%= @conversation.user.id %>)</p>
        <% elsif @conversation.target_id != @conversation.created_by %>
          <%# Admin sent message to a user who has since deleted their account. %>
          <p class="card-text mb-0">Sent to: ID <%= @conversation.target_id %> (Deleted User)</p>
        <% else %>
          <p class="card-text mb-0">Sent to: Admins</p>
        <% end %>
        <% if @conversation.creator_id %>
          <p class="card-text">Sent by: <%= link_to @conversation.creator.name, admin_manage_user_path(@conversation.creator) %> (ID <%= @conversation.creator.id %>)</p>
        <% elsif @conversation.created_by == Rails.configuration.application[:common][:system_user_id] %>
          <p class="card-text">Sent by: ID <%= @conversation.created_by %> (System)</p>
        <% else %>
          <p class="card-text">Sent by: ID <%= @conversation.created_by %> (Deleted User)</p>
        <% end %>


        <noscript>
          <style> .collapse:not(.show){ display:contents; } </style>
          <!-- Auto-uncollapse items when JavaScript is disabled -->
          <p class="card-text">To collapse message edit forms and raw markdown panels, you must enable JavaScript.</p>
        </noscript>

        <% @conversation.messages.order(:created_at).each do |message| %>
          <div class="card<%= " border-dark" if message.admin_relative_id % 2 == 0 %><%= " msg-deleted" if message.deleted_by %>">
            <div class="card-header">
              <span>
                #<%= message.admin_relative_id %>
                <% if message.sender %>
                  <%= link_to message.sender.name, admin_manage_user_path(message.sender.id) %>
                <% elsif message.sent_by == Rails.configuration.application[:common][:system_user_id] %>
                  ID <%= message.sent_by %> (System)
                <% else %>
                  ID <%= message.sent_by %> (Deleted User)
                <% end %>
                <% if message.sent_anonymously %>
                  (Sent Anonymously)
                <% end %>
                <% if !message.user_visible %>
                  <i>(Hidden)</i>
                <% end %>
              </span>
              <span class="float-right"><%= ApplicationHelper.datetime_to_str(message.created_at, show_offset: false, show_seconds: true) %>
                <% if message.edited? %>
                  (edited at <%= ApplicationHelper.datetime_to_str(message.edited_at, show_offset: false, show_seconds: true) %>)
                <% end %>
              </span>
            </div>
            <div class="card-body">
              <p><%= markdown(message.body) %></p>
              <span class="float-right text-muted">
                <a class="accordion-row-toggler" role="button" data-toggle="collapse" data-target="#source-collapse<%= message.admin_relative_id %>" href="#source-collapse<%= message.admin_relative_id %>" aria-expanded="false" aira-controls="source-collapse<%= message.admin_relative_id %>">View Source <i class="fas fa-chevron-circle-down"></i></a>
                <% if message.editable? %>
                  |
                  <a class="accordion-row-toggler" role="button" data-toggle="collapse" data-target="#edit-collapse<%= message.admin_relative_id %>" href="#edit-collapse<%= message.admin_relative_id %>" aira-expanded="false" aria-controls="edit-collapse<%= message.admin_relative_id %>" title="Editable until <%= ApplicationHelper.datetime_to_str(message.edit_period_end, show_offset: false, show_seconds: true) %>">
                    Edit <i class="fas fa-chevron-circle-down"></i>
                  </a>
                <% end %>
                <% if current_user.id != message.sent_by %>
                  <% if message.user_visible && !message.deleted_by %>
                     | Message Visible
                  <% elsif message.hidden? %>
                     | Message Hidden
                  <% end %>
                <% elsif current_user.role.to_sym == :admin %>
                  <% if message.hideable? %>
                     | <%= link_to "Hide from User", admin_conversation_hide_path(message.id, conversation_id: @conversation.id), method: :post, data: { message_id: message.id } %>
                  <% elsif message.hidden? %>
                     | Message Hidden
                  <% end %>
                <% end %>
                <% if message.deleted? %>
                  <% if message.deleter %>
                     | Deleted by <%= link_to message.deleter.name, admin_manage_user_path(message.deleter.id) %>
                  <% else %>
                     | Deleted by ID <%= message.deleted_by %> (deleted user)
                  <% end %>
                <% end %>
              </span>
              <span class="collapse" id="source-collapse<%= message.admin_relative_id %>">
                <label>Raw Markdown</label>
                <pre class="codeblock-fenced"><%= message.body %></pre>
              </span>
              <% if message.editable? %>
                <span class="collapse" id="edit-collapse<%= message.admin_relative_id %>">
                  <%= render 'admin/messages/admin_edit_form', message: message %>
                </span>
              <% end %>
            </div>
          </div>
        <% end %>

        <br />
        <%- if !@conversation.locked %>
          <%= render 'admin/messages/admin_form', message: Message.new %>
          <br />
          <%= button_to "Lock Thread", admin_conversation_lock_path(@conversation.id), data: { confirm: "Are you sure? This cannot be undone." }, :method => :get, :class => "btn btn-secondary", :role => "button" %>
        <% else %>
          <span>Thread locked. No further messages can be sent. This action cannot be undone.</span>
        <% end -%>
      </div>
    </div>
  </div>
</div>
