<%= form_with(model: message, url: admin_conversation_messages_path(@conversation.id), local: true) do |f| %>
  <%# TODO: need to try leaving out "local: true" %>
  <% if !message.nil? && message.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h4>
      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <hr />
  <% end %>

  <div class="field form-group">
    <%= f.label :body, "Reply", :for => :message_body %>
		<%= f.text_area :body, id: :message_body, :class => "form-control", :rows => "4" %>
    <small id="message_bodyHelp" class="form-text text-muted">You can use <%= link_to "Markdown", help_markdown_path%> in this field. Inlined HTML will be ignored; maximum <%= Message.max_body_length %> characters.</small>
  </div>

  <div class="field form-group">
    <%= f.check_box :user_visible, id: :user_visible_checkbox, :class => "field form-group form-check-input" %>
    <%= f.label :user_visible, "Visible to User", :for => :user_visible_checkbox %>
    <br />
    <%= f.check_box :sent_anonymously, id: :sent_anonymously_checkbox, :class => "field form-group form-check-input" %>
    <%= f.label :sent_anonymously, "Send anonymously (user will be unable to see your name)", :for => :sent_anonymously_checkbox %>
  </div>

  <div class="actions">
    <%= f.submit "Send", :class => "btn btn-primary", :role => "button" %>
  </div>
<% end %>
