<ul class="nav nav-tabs">
  <li class="nav-item">
    <%- if current_page?(controller: 'pages', action: 'help_index') %>
      <%= link_to "Home", help_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Home", help_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(controller: 'pages', action: 'help_markdown') %>
      <%= link_to "Markdown", help_markdown_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Markdown", help_markdown_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(controller: 'pages', action: 'help_regex') %>
      <%= link_to "Regex", help_regex_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Regex", help_regex_path, :class => "nav-link" %>
    <% end -%>
  </li>
</ul>
