<%= render "pages/help_title" %>

<div class="row">
  <div class="col">
    <%= render "pages/help_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Home</h4>
        <p class="card-text">Learn more about this application and its capabilities here!</p>
      </div>
    </div>
  </div>
</div>
