<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%= form_for(current_user, url: account_notifications_path) do |f| %>
          <%= form_for(@UserPreference, url: account_notifications_path, html: { method: :put }) do |ff| %>
            <%= tag(:input, :type => "hidden", name: :authenticity_token, :value => form_authenticity_token) %>
            <%- if !@UserPreference.nil? && @UserPreference.errors.any? %>
              <div id="error_explanation">
                <h4><%= pluralize(@UserPreference.errors.count, "error") %> prohibited your settings from being saved:</h4>
                <ul>
                  <% @UserPreference.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
                <p class="card-text">Your settings have not been modified.</p>
              </div>
              <hr />
            <% end -%>
            <h4 class="card-title">Notification Preferences</h4>
            <p class="card-text">Change what notifications get delievered to what email addresses.</p>
            <p class="card-text">Some notifications cannot be disabled. Notifications to your backup email cannot be enabled if you do not have a backup email address set in the Account Settings tab.</p>
            <p class="card-title">Notification sending has not yet been implemented.</p>
            <div class="form-group row">
              <div class="col-sm-4">
                Password Changes
                <small id="notify_pwchange_priHelp" class="form-text text-muted">For changes done from the Account Settings tab.</small>
              </div>
              <div class="col-sm-8">
                <div class="form-check">
                  <%= ff.check_box :notify_pwchange_pri, :checked => @UserPreferencesHash[:notify_pwchange_pri], :disabled => !@UserSettablePreferences[:notify_pwchange_pri], :class => "form-check-input" %>
                  <%= ff.label :notify_pwchange_pri, "Primary Email", :class => "form-check-label" %>
                </div><div class="form-check">
                  <%= ff.check_box :notify_pwchange_bkp, :checked => @UserPreferencesHash[:notify_pwchange_bkp], :disabled => !@UserSettablePreferences[:notify_pwchange_bkp], :class => "form-check-input" %>
                  <%= ff.label :notify_pwchange_bkp, "Backup Email", :class => "form-check-label" %>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                Password Resets
                <small id="notify_pwreset_priHelp" class="form-text text-muted">Follow-up email for successful password resets. (Password reset links will be sent to the address you specify in the password reset form.)</small>
              </div>
              <div class="col-sm-8">
                <div class="form-check">
                  <%= ff.check_box :notify_pwreset_pri, {:checked => @UserPreferencesHash[:notify_pwreset_pri], :disabled => !@UserSettablePreferences[:notify_pwreset_pri], :class => "form-check-input"} %>

                  <%= ff.label :notify_pwreset_pri, "Primary Email", :class => "form-check-label" %>
              </div><div class="form-check">
                  <%= ff.check_box :notify_pwreset_bkp, :checked => @UserPreferencesHash[:notify_pwreset_bkp], :disabled => !@UserSettablePreferences[:notify_pwreset_bkp], :class => "form-check-input" %>
                  <%= ff.label :notify_pwreset_bkp, "Backup Email", :class => "form-check-label" %>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                Oauth Provider Added/Removed
                <small id="notify_sso_priHelp" class="form-text text-muted">Does not trigger for Oauth logins, just adding and removing providers.</small>
              </div>
              <div class="col-sm-8">
                <div class="form-check">
                  <%= ff.check_box :notify_sso_pri, :checked => @UserPreferencesHash[:notify_sso_pri], :disabled => !@UserSettablePreferences[:notify_sso_pri], :class => "form-check-input" %>
                  <%= ff.label :notify_sso_pri, "Primary Email", :class => "form-check-label" %>
                </div><div class="form-check">
                  <%= ff.check_box :notify_sso_bkp, :checked => @UserPreferencesHash[:notify_sso_bkp], :disabled => !@UserSettablePreferences[:notify_sso_bkp], :class => "form-check-input" %>
                  <%= ff.label :notify_sso_bkp, "Backup Email", :class => "form-check-label" %>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                2FA Method Added/Removed
                <small id="notify_2fa_priHelp" class="form-text text-muted">Email confirmation is not required for adding/removing methods.</small>
              </div>
              <div class="col-sm-8">
                <div class="form-check">
                  <%= ff.check_box :notify_2fa_pri, :checked => @UserPreferencesHash[:notify_2fa_pri], :disabled => !@UserSettablePreferences[:notify_2fa_pri], :class => "form-check-input" %>
                  <%= ff.label :notify_2fa_pri, "Primary Email", :class => "form-check-label" %>
                </div><div class="form-check">
                  <%= ff.check_box :notify_2fa_bkp, :checked => @UserPreferencesHash[:notify_2fa_bkp], :disabled => !@UserSettablePreferences[:notify_2fa_bkp], :class => "form-check-input" %>
                  <%= ff.label :notify_2fa_bkp, "Backup Email", :class => "form-check-label" %>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                Admin Messages
                <small id="notify_admin_priHelp" class="form-text text-muted">For account notices and report followups.</small>
              </div>
              <div class="col-sm-8">
                <div class="form-check">
                  <%= ff.check_box :notify_admin_pri, :checked => @UserPreferencesHash[:notify_admin_pri], :disabled => !@UserSettablePreferences[:notify_admin_pri], :class => "form-check-input" %>
                  <%= ff.label :notify_admin_pri, "Primary Email", :class => "form-check-label" %>
                </div><div class="form-check">
                  <%= ff.check_box :notify_admin_bkp, :checked => @UserPreferencesHash[:notify_admin_bkp], :disabled => !@UserSettablePreferences[:notify_admin_bkp], :class => "form-check-input" %>
                  <%= ff.label :notify_admin_bkp, "Backup Email", :class => "form-check-label" %>
                </div>
              </div>
            </div>
            <%= ff.submit "Save Settings", :class => "btn btn-primary", :role => "button" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
