<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%= form_for(current_user, url: account_ui_path) do |f| %>
          <%= form_for(@UserPreference, url: account_ui_path, html: { method: :put }) do |ff| %>
            <%- if !@UserPreference.nil? && @UserPreference.errors.any? %>
              <div id="error_explanation">
                <h4><%= pluralize(@UserPreference.errors.count, "error") %> prohibited your settings from being saved:</h4>
                <ul>
                  <% @UserPreference.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
                <p class="card-text">Your settings have not been modified.</p>
              </div>
              <hr />
            <% end -%>
            <h4 class="card-title">Appearance</h4>
            <div class="field form-group">
              <%= ff.label :default_sort_col, "Default Attribute/Column to Sort", :class => "card-text" %><br />
              <%= ff.select :default_sort_col, options_for_select(@SortColumns, @UserPreferencesHash[:default_sort_col]), {}, :class => "form-control" %>
            </div>
            <div class="field form-group radio-buttons-sort-order">
              <%= ff.label :default_sort_order, "Default Sort Order", :class => "card-text" %><br />
              <%= ff.radio_button :default_sort_order, 'asc',
                :checked => @UserPreferencesHash[:default_sort_order] == 'asc' %>
              <%= ff.label :default_sort_order, 'Ascending', :value => 'asc' %>
              <%= ff.radio_button :default_sort_order, 'desc',
                :checked => !(@UserPreferencesHash[:default_sort_order] == 'asc'),
                :class => "ml-1" %>
              <%= ff.label :default_sort_order, 'Descending', :value => 'desc' %>
            </div>
            <div class="field form-group">
              <%= ff.label :search_results, "Search Results per Page", :class => "card-text" %><br />
              <%= ff.text_field :search_results, :value => @UserPreferencesHash[:search_results], :type => "number", :class => "form-control", min: PreferencesHelper.min_per_page, max: PreferencesHelper.max_per_page, step: 1 %>
              <small id="search_resultsHelp" class="form-text text-muted">Enter as a whole number from <%= PreferencesHelper.min_per_page %> to <%= PreferencesHelper.max_per_page %>. Default: <%= PreferencesHelper.default_per_page %>.</small>
            </div>

            <div class="field form-group">
              <%= ff.label :theme, "Theme", :class => "card-text" %><br />
              <%= ff.select :theme, options_for_select(@Themes, @UserPreferencesHash[:theme]), {}, :class => "form-control" %>
            </div>

            <hr />
            <h4 class="card-title">Localization</h4>
            <div class="field form-group">
              <%= ff.label :date_format, "Date Format", :class => "card-text" %><br />
              <%= ff.select :date_format, options_for_select(@DateFormats, @UserPreferencesHash[:date_format]), {}, :class => "form-control" %>
            </div>
            <div class="field form-group radio-buttons-24hr-time">
              <%= ff.label :use_24hr_time, "Use 24 hour time?", :class => "card-text" %><br />
              <%= ff.radio_button :use_24hr_time, 'true',
                :checked => @UserPreferencesHash[:use_24hr_time] %> 
              <%= ff.label :use_24hr_time, 'Yes', :value => 'true' %>
              <%= ff.radio_button :use_24hr_time, 'false',
                :checked => !@UserPreferencesHash[:use_24hr_time],
                :class => "ml-1" %>
              <%= ff.label :use_24hr_time, 'No', :value => 'false' %>
            </div>
            <div class="field form-group">
              <%= ff.label :tz_offset, "Time Zone", :class => "card-text" %>
              <%= ff.text_field :tz_offset, :value => @UserPreferencesHash[:tz_offset], :class => "form-control" %>
              <small id="tz_offsetHelp" class="form-text text-muted">Enter as an offset from UTC, e.g. New York UTC-05:00 would be "-05:00". Default is "<%= UserPreference.default_tz_offset %>".</small>
            </div>
            <hr />
            <%= ff.submit "Save Settings", :class => "btn btn-primary", :role => "button" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<br>
<br>
