<h2>Sign in</h2>

<br />
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render 'devise/shared/error_messages' %>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <%- if devise_mapping.omniauthable? %>
            <h4 class="card-title">Use a traditional account</h4>
          <% else %>
            <h4 class="card-title">Enter your credentials</h4>
          <% end -%>
          <div class="field form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="field form-group">
              <%= f.check_box :remember_me, :class => "field form-group form-check-input" %>
              <%= f.label :remember_me %>
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "float-right" %><br />
              <% end -%>
            </div>
          <% end -%>

          <div class="actions">
            <%= f.submit "Sign in", :class => "btn btn-primary", :role => "button" %>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Register", new_user_registration_path, :class => "btn btn-secondary float-right", :role => "button" %><br />
            <% end -%>
          </div>
        </div>
      </div>
    </div>
    <%= render "devise/shared/sso" %>
  </div>
<% end -%>

<%#= render "devise/shared/links" %>
