@import "application";
@import "themes/solarized/solarized_bootstrap";
/*@import "themes/solarized/solarized_variables";
 *@import "themes/solarized/solarized_bootswatch";
 * Not entirely sure I need these...
 * Downloaded from: https://bootswatch.com/ (theme: Solar)
 */

nav.navbar.navbar-dark.bg-primary.navbar-expand-sm {
  background-color: #073642 !important; /* I don't like using !important, but it seems the Solarized Bootstrap CSS uses it, so I have to override it like this to get the color I want. */
}

/* Fix placeholder text being unreadable because it's gray on gray */
input.form-control.placeholder-text::placeholder {
  /* For Chromium, Firefox, Opera */
  color: #F5F5F5;
}
:-ms-input-placeholder.form-control.placeholder-text {
  /* For MSIE */
  color: #F5F5F5;
}
input.form-control.placeholder-text::-ms-input-placeholder {
  /* For MS Edge */
  color: #F5F5F5;
}

/* Change color of dark buttons to be easier to read */
button.btn.btn-outline-dark {
  color: #F5F5F5;
}

/* Make table text more readable */
.table {
  color: inherit;
}

/* Href colors in highlighted table rows is invisible because
 * it matches the background, this overrides the default color
 * and makes them visible again.
 */
.table tr.table-primary td a.text-primary {
  color: #F5F5F5 !important;
}
