/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "chat_logs_style";

blockquote.blockquote.blockquote-md {
  padding: .5rem .5rem;
  border-left: .25rem solid #E0E0E0;
  font-size: 1rem;
  /* According to https://stackoverflow.com/a/46860281, Bootstrap 4 is missing
   * the left border on blockquotes. I re-add them here and specifically target
   * the blockquotes I'm producing in my RedCarpet renderer.
   * Border color chosen because it tends to be visible on poorly calibrated
   * monitors.
   */
}

blockquote.blockquote p:not([class]) {
  margin-bottom: 0rem;
  /* Basically, when my custom Markdown renderer is given a block quote, it
   * already has the <p> tags around it, which inherits margin-bottom: 1rem;
   * like .mb-3 would do. I don't want to modify the given data since that
   * might make the renderer brittle to any changes in RedCarpet, so it's
   * easier just to add a selector for <p> tags (with no classes) inside a
   * blockquote to specifically target these elements.
   * Credit for :not([class]) goes to: https://stackoverflow.com/a/36355674
   */
}

hr:not([class]) {
  @extend .border-secondary;
  /* Adjust the HR to use border-secondary color and height, if no other
   * classes exist.
   */
}

div.msg-deleted {
  display: none;
  /* Used to show/hide messages without JS in admin views.
   * https://dev.to/winduptoy/a-javascript-free-frontend-2d3e
   * https://jsfiddle.net/eboc9ks7/ */
}

.msg-deleted-sw:checked ~ div.msg-deleted {
  display: flex;
  /* Used to show/hide messages without JS in admin views.
   * https://dev.to/winduptoy/a-javascript-free-frontend-2d3e
   * https://jsfiddle.net/eboc9ks7/ */
}

pre.codeblock-fenced {
  @extend .p-2;
  @extend .bg-light;
  @extend .border;
  @extend .border-secondary;
  @extend .rounded;
  /* Since Bootstrap doesn't fence codeblocks, I have to do so here. */
}

code.fenced {
  @extend .p-1;
  @extend .bg-light;
  @extend .rounded;
  /* Some small fencing for inline code tags. */
}

.fa-clock-o {
  @extend .fa-clock !optional;
  /* Although the clock icon should be fa-clock-o, for some reason only
     fa-clock shows up. This ensures the icon will be displayed correctly
     when the date picker is opened. I could manually change the JS, but
     that would make it a hassle to update the gem datepicker gem. */
}

.hide {
  display: none;
}

form.inline-form {
  display: inline;
}

div.pagination.justify-content-center nav {
  @extend .mt-3 !optional;
  /* On the chat logs page, when no results are displayed, there is a small
     margin below the "No results found" row which I removed with an m-0
     class on the div holding the table. This had the result of removing all
     margin between the table and pagination div. If I add mt-3 to the
     pagination div, if the paginator isn't there, this brings back the empty
     margin below the table. So, I add it to the nav within the pagination
     div, which only exists when the paginator is there, thus bringing back
     the margin only when there are results to paginate. */
}

.force-left-align {
  align-items: normal !important;
  justify-content: left !important;
  /* Some Bootstrap elements force center alignment, this forces left alignment
     when "text-left" is being ignored. */
}

/* Force 2 columns on md+ devices to match the behavior of col-md-6's
 * rows.
 */
div.card-columns.settings-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

/* Force 1 column on sm devices to match the behavior of col-md-6's
 * inside rows.
 */
@media (max-width: 767px) {
  div.card-columns.settings-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

