<%#= form_for (:credential, url: account_security_2fa_u2f_edit_path(:id)) do |form| %>
<%= form_with(model: credential, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :nickname, "Device Name", :for => :credential_nickname %><br />
    <%= form.text_field :nickname, id: :credential_nickname, :value => @TokenNickname, class: "form-control"%>
  </div>
  <%= form.submit "Save Changes", class: "btn btn-primary" %>
  <%= link_to 'Cancel', account_security_2fa_u2f_keys_path, class: "btn btn-secondary" %>
<% end %>