<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Register U2F Key</h4>
        <p class="card-text">Please insert the U2F key, enter a name, and click the Register button. Your browser should then prompt you to activate your token. If no browser popup appears, refresh the page and try again. If you have tried refreshing the page multiple times but still are not getting a prompt from your browser, it might not support the WebAuthn API for FIDO2 authentication.</p>
        <p class="card-text">Make sure the name is something you can remember in case you lose the device and need to remove it from your account.</p>
        <p class="card-text">Because WebAuthn is not universally supported, we recommend you also enable TOTP based 2FA or generate recovery codes if you have not done so already.</p>
        <div id="add-credential">
          <%= form_with(scope: :credential, url: account_security_2fa_u2f_add_path, method: :post, remote: true) do |form| %>
            <div class="form-group">
              <%= form.label :nickname, "Device Name" %><br />
              <%= form.text_field :nickname, class: "form-control"%>
            </div>
            <%= form.submit "Register Token", class: "btn btn-primary" %>
            <%= link_to 'Cancel', account_security_2fa_u2f_keys_path, class: "btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
