<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h5 class="card-title">Edit U2F Key</h5>
        <p class="card-text">Modify the token's nickname.</p>
        
        <%= render 'form', credential: @credential %>
      </div>
    </div>
  </div>
</div>
