<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <h4 class="card-title">Manage FIDO U2F Keys</h4>
        <p class="card-text">List of registered devices:</p>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Time Last Used</th>
              <th scope="col">Added On</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody id="devices">
            <% if current_user.credentials.count == 0 %>
              <tr>
                <td colspan="4">No U2F tokens registered</td>
              </tr>
            <% else %>
              <% current_user.credentials.each do |credential| %>
                <tr class="<%= 'table-primary' if !params[:highlight].nil? && credential.id == params[:highlight].to_i =%>">
                  <td><%= credential.nickname %></td>
                  <td>[Not yet implemented]</td>
                  <td><%= ApplicationHelper.datetime_to_str(credential.created_at, show_offset: false) %></td>
                  <td>
                    <%= link_to "Edit Name", account_security_2fa_u2f_edit_path(credential.id), :class => "btn btn-warning" %>
                    <%- if current_user.can_delete_credentials? %>
                      <%= link_to "Delete", account_security_2fa_u2f_delete_with_u2f_path(credential.id), class: "btn btn-danger" %>
                    <% end -%>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="actions">
          <%= link_to "Register new U2F Token", account_security_2fa_u2f_add_path, :class => "btn btn-primary" %>
          <%= link_to "Get Recovery Codes", account_security_2fa_recovery_codes_path, :class => "btn btn-warning" %>
          <%= link_to "Back to Account Security", account_security_path, :class => "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
