<ul class="nav nav-tabs">
  <li class="nav-item">
    <%- if current_page?(controller: 'dashboard', action: 'index') %>
      <%= link_to "Home", admin_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Home", admin_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if (current_page?(controller: 'conversations') ||
            @messages_tab) %>
      <%= link_to admin_conversations_path, :class => "nav-link active" do %>
        Messages
        <% if Conversation.admin_unread_count > 0 %>
          <span class="badge badge-primary badge-pill"><%= Conversation.admin_unread_count %></span>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to admin_conversations_path, :class => "nav-link" do %>
        Messages
        <% if Conversation.admin_unread_count > 0 %>
          <span class="badge badge-primary badge-pill"><%= Conversation.admin_unread_count %></span>
        <% end %>
      <% end %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(admin_reports_path) %>
      <%= link_to admin_reports_path, :class => "nav-link active" do %>
        Reports 
        <%- if Report.admin_unread_count > 0 %>
          <span class="badge badge-primary badge-pill"><%= Report.admin_unread_count %></span>
        <% end -%>
      <% end %>
    <% else %>
      <%= link_to admin_reports_path, :class => "nav-link" do %>
        Reports 
        <%- if Report.admin_unread_count > 0 %>
          <span class="badge badge-primary badge-pill"><%= Report.admin_unread_count %></span>
        <% end -%>
      <% end %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(controller: 'dashboard', action: 'searches') %>
      <%= link_to "Searches", admin_searches_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Searches", admin_searches_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(controller: 'dashboard', action: 'system_log') %>
      <%= link_to "System Log", admin_syslog_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "System Log", admin_syslog_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if current_page?(controller: 'dashboard', action: 'system_settings') %>
      <%= link_to "System Settings", admin_sysprefs_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "System Settings", admin_sysprefs_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if @eulas_tab %>
      <%= link_to "Terms of Service", admin_eulas_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "Terms of Service", admin_eulas_path, :class => "nav-link" %>
    <% end -%>
  </li>
  <li class="nav-item">
    <%- if (current_page?(controller: 'dashboard', action: 'user_management') ||
            # See DashboardController.user_profile for an explanation of this variable
            @admin_user_profile_page) %>
      <%= link_to "User Management", admin_users_path, :class => "nav-link active" %>
    <% else %>
      <%= link_to "User Management", admin_users_path, :class => "nav-link" %>
    <% end -%>
  </li>
</ul>
