<%= form_with(model: @report, url: resolve_report_path, method: :patch, local: true) do |form| %>
  <% if @report.errors.any? %>
    <hr />
    <div id="error_explanation">
      <h4><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h4>
      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group hide">
    <%= form.label :msg_id, for: :msg_id %>
    <%= form.number_field :msg_id, id: :msg_id, :min => "1", :value => params[:msg_id], :readonly => true, :class => "form-control" %>
  </div>

  <div class="field form-group">
    <div class="mb-2">
      <%= form.label :resolving_action, "Action taken", for: :resolving_action, :class => "mb-0" %><span> (maximum <%= Rails.configuration.application[:common][:string_type_max_length] %> characters):</span>
    </div>
    <%= form.text_field :resolving_action, id: :resolving_action, :class => "form-control" %>
    <small id="resolving_actionHelp" class="form-text text-muted">The action taken will be visible to the user who reported the message.</small>
  </div>

  <div class="actions">
    <%- if !@report.resolved? %>
      <%= form.submit "Mark as Resolved", :class => "btn btn-primary" %>
    <% else %>
      <%= form.submit "Update Action Taken", :class => "btn btn-primary" %>
    <% end -%>
  </div>
<% end %>
