<%= render "devise/shared/account_title" %>

<div class="row">
  <div class="col">
    <%= render "devise/shared/account_tabs" %>
    <div class="card border-top-0">
      <div class="card-body">
        <%- if !@search_errors.nil? && @search_errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@search_errors.count, "error") %> prohibited your search from being executed:</h4>
            <ul>
              <% @search_errors.each do |attr, message| %>
                <li><%= "#{attr} #{message}" %></li>
              <% end %>
            </ul>
            <p class="card-text">A blank search has been executed.</p>
          </div>
          <hr />
        <% end -%>
        <h4 class="card-title">Your Reports</h4>
        <%= render 'reports/search_form' %>
        <p class="card-text">To un-report a message (e.g. you made a poorly phrased report or you reported the wrong message), click the Delete button. After reports are taken care of by the administrators, a copy of the original message is kept on this page except in extreme circumstances (i.e. illegal content) and the report is unable to be deleted.</p>
        <table class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
              <th scope="col"><%= report_sort_link "msg_id", "ID" %></th>
              <th scope="col"><%= report_sort_link "msg_channel", "Channel" %></th>
              <th scope="col"><%= report_sort_link "msg_sender", "Sender" %></th>
              <th scope="col">Message</th>
              <th scope="col"><%= report_sort_link "created_at", "Date Reported" %></th>
              <th scope="col">Reason</th>
              <th scope="col" colspan="2"><%= report_sort_link "resolved", "Resolved?" %></th>
            </tr>
          </thead>
          <tbody>
            <%- if @reports.count == 0 %>
              <tr>
                <td colspan="8">No reports found</td>
              </tr>
            <% else %>
              <%- @reports.each do |report| %>
                <tr class="<%= 'table-primary' if !params[:highlight].nil? && report.id == params[:highlight].to_i =%>">
                  <td><%= report.msg_id %></td>
                  <td><%= report.msg_channel %></td>
                  <td><%= report.msg_sender %></td>
                  <td><%= report.msg_text %></td>
                  <td><%= ApplicationHelper.datetime_to_str(report.created_at, show_offset: false) %></td>
                  <td><%= report.report_reason %></td>
                  <%- if !report.resolved? %>
                    <td class="border-right-0">
                      <span id="report-<%= report.id %>-status">No</span>
                    </td>
                    <td class="border-left-0">
                      <%= link_to 'Delete', report, method: :delete, :class => "btn btn-danger", data: { report_id: report.id, confirm: 'Are you sure?' } %>
                    </td>
                  <% else %>
                    <td colspan="2">
                      <span id="report-<%= report.id %>-status">Yes - <%= report.resolving_action %></span>
                    </td>
                  <% end -%>
                </tr>
              <% end -%>
            <% end -%>
          </tbody>
        </table>
        <div class="pagination justify-content-center">
          <%= paginate @reports, theme: 'bootstrap4' %>
        </div>
      </div>
    </div>
  </div>
</div>
