<h2>Message Report</h2>
<div style="height: 1.0em;"><br></div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="row pt-3">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Original Message:</h4>
                <table class="table table-responsive ">
                  <!-- No table header because I can't disable the bold text -->
                  <tbody>
                    <tr>
                      <td>ID</td>
                      <td><%= @report.msg_id %></td>
                    </tr>
                    <tr>
                      <td>Channel</td>
                      <td><%= @report.msg_channel %></td>
                    </tr>
                    <tr>
                      <td>Sender</td>
                      <td><%= @report.msg_sender %></td>
                    </tr>
                    <tr>
                      <td>Message</td>
                      <td><%= @report.msg_text %></td>
                    </tr>
                    <tr>
                      <td>Date/Time</td>
                      <td><%= ApplicationHelper.datetime_to_str(@report.msg_date, show_offset: true) %></td>
                    </tr>
                  </tbody>
                </table>
                <%- if @MessageExists %>
                  <%= link_to "Message Context", chat_logs_path(:channel => @report.msg_channel, :base_id => @report.msg_id, :highlight => @report.msg_id) %><br />
                <% end -%>
                <%= link_to admin_reports_path(:msg_id => @report.msg_id, :resolved => :all, :highlight => @report.id), :class => "" do %>
                  View other reports for this message (<%= pluralize(@NumReportsForMessage, "report") %>)
                <% end %><br />
                <%= link_to admin_reports_path(:sender => @report.msg_sender, :resolved => :all, :highlight => @report.id), :class => "" do %>
                  View reports for messages from this sender (<%= pluralize(@NumReportsForSender, "report") %> across <%= pluralize(@NumMessagesReportedForSender, "message") %>)
                <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Report Information:</h4>
                <table class="table table-responsive ">
                  <!-- No table header because I can't disable the bold text -->
                  <tbody>
                    <tr>
                      <td>Reporter</td>
                      <%- if @report.user_id %>
                        <td>Name: <%= User.find_by_id(@report.reporter).name %><br />
                            Email: <%= User.find_by_id(@report.reporter).email %><br />
                            User ID: <%= @report.reporter %> (<%= link_to "View Profile", admin_manage_user_path(@report.reporter) %>)<br />
                            <%= link_to admin_reports_path(:user_id => @report.reporter, :resolved => :all, :highlight => @report.id), :class => "" do %>
                              View other reports from this user (<%= pluralize(@NumReportsFromReporter, "report") %>)
                            <% end %><br />
                        </td>
                      <% else %>
                        <td>User ID: <%= @report.reporter %><br />
                            (User has deleted account)
                        </td>
                      <% end -%>
                    </tr>
                    <tr>
                      <td>Reason</td>
                      <td><%= @report.report_reason %></td>
                    </tr>
                    <tr>
                      <td>Reported on</td>
                      <td><%= ApplicationHelper.datetime_to_str(@report.created_at, show_offset: true) %></td>
                    </tr>
                    <tr>
                      <td>Resolved?</td>
                      <%- if @report.resolved? %>
                        <td>Yes<br>
                            Action taken: <%= @report.resolving_action %></td>
                      <% else %>
                        <td>No</td>
                      <% end -%>
                    </tr>
                    <%- if @report.resolved? %>
                      <tr>
                        <td>Resolved on</td>
                        <td><%= ApplicationHelper.datetime_to_str(@report.resolved_at, show_offset: true) %></td>
                      </tr>
                      <tr>
                        <td>Resolver</td>
                        <%- if User.find_by_id(@report.resolver) %>
                          <td>Name: <%= User.find_by_id(@report.resolver).name %><br />
                              Email: <%= User.find_by_id(@report.resolver).email %><br />
                              User ID: <%= @report.resolver %> (<span title="Not yet implemented; will be added with admin console"><%= link_to "View Profile - in progress", root_path %></span>)<br />
                              <%= link_to "View other reports this user has resolved", admin_reports_path(:resolver_id => @report.resolver, :resolved => :resolved, :highlight => @report.id), :class => "" %>
                          </td>
                        <% else %>
                          <td>User ID: <%= @report.resolver %><br />
                              (User has deleted account)
                          </td>
                        <% end -%>
                      </tr>
                    <% end -%>
                  </tbody>
                </table>
                <%- if !@report.resolved? %>
                  <%= link_to 'Resolve Report', resolve_report_path(@report), :class => "btn btn-primary" %>
                <% end -%>
                <%= link_to 'Edit Message Copy', edit_report_path(@report), :class => "btn btn-warning" %>
                <%= link_to 'Delete Report', @report, method: :delete, data: { confirm: 'Are you sure you want to delete this report?' }, :class => "btn btn-danger", :role => "button" %>
                <br /><br />
                <%= link_to "View All Reports", admin_reports_path, :class => "" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
