<nav class="navbar navbar-dark bg-primary fixed-top navbar-expand-sm">
  <%= link_to get_application_name, root_path, :class => "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <%- if user_signed_in? %>
        <%- if request.path.starts_with?('/chat_logs') %>
          <%= link_to 'Chat Logs', chat_logs_path, :class => "nav-link active" %>
        <% else %>
          <%= link_to 'Chat Logs', chat_logs_path, :class => "nav-link" %>
        <% end -%>
      <% end -%>
      <li class="nav-item">
        <% if request.path.starts_with?('/help') %>
          <%= link_to 'Help', help_path, :class => "nav-link active" %>
        <% else %>
          <%= link_to 'Help', help_path, :class => "nav-link" %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <%- if user_signed_in? && current_user.role == 'admin' %>
        <li class="nav-item">
          <%- if request.path.starts_with?('/admin') %>
            <%= link_to 'Admin', admin_path, :class => "nav-link active", :id => "navbar-admin-link" %>
          <% else %>
            <%= link_to 'Admin', admin_path, :class => "nav-link", :id => "navbar-admin-link" %>
          <% end -%>
        </li>
      <% end -%>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%- if user_signed_in? %>
            <%- if request.path.starts_with?('/account') and not request.path.starts_with?('/account/messages') %>
              <%= link_to 'Settings', account_path, :class => "dropdown-item active", :id => "navbar-settings-link" %>
            <% else %>
              <%= link_to 'Settings', account_path, :class => "dropdown-item", :id => "navbar-settings-link" %>
            <% end -%>
          <% end -%>
          <%- if request.path.starts_with?('/account/messages') %>
            <%= link_to 'Contact the Admins', conversations_path, :class => "dropdown-item active", :id => "navbar-messages-link" %>
          <% else %>
            <%= link_to 'Contact the Admins', conversations_path, :class => "dropdown-item", :id => "navbar-messages-link" %>
          <% end -%>
          <a class="dropdown-item" href="https://gitlab.com/lucadou/irc-log-explorer">Source Code</a>
        </div>
      </li>
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, :class => "nav-link", :id => "navbar-signout-link" %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, :class => "nav-link", :id => "navbar-signin-link"  %>
          <%- if registerable %>
            </li><li class="nav-item"><%#= This pevents Login and Register from being stacked on top of each other %>
            <%= link_to "Register", register_path, :class => "nav-link", :id => "navbar-signup-link" %>
          <% end -%>
        <% end %>
      </li>
    </ul>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<br>
<noscript>
  <!-- NoScript optimized navigation bar -->
  <%#= I added this because the Bootstrap navbar requires JS to expand menus. On mobile, everything except the home link will be in a menu, so this is required to ensure full funcitonality on all devices with JS disabled. %>
  <%#= Could I make it work on desktop in the existing Bootstrap navbar? Sure, but I'd have to do some nasty CSS hacks for portrait resolutions, and this is a much easier solution. For now, it's a good solution for those who don't want to enable JS. %>
  <div class="content mx-4 justify-content-center">
    <h4>Basic Menu (enable JavaScript to use rich navigation bar)</h4>
    <span><%= link_to 'Home', root_path %></span>
    <span> | Contact the Admins (coming eventually)
    <span> | Help (coming eventually)</span>
    <% if user_signed_in? %>
      <%- if current_user.role == :admin %>
        <span><%= link_to 'Admin', admin_path %></span>
      <% end -%>
      <span> | <%= link_to 'Settings', account_overview_path %></span>
      <span> | <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></span>
    <% else %>
      <span> | <%= link_to 'Sign in', new_user_session_path %></span>
      <%- if registerable %>
        <span> | <%= link_to "Register", new_user_registration_path %></span>
      <% end -%>
    <% end %>
    <hr>
  </div>
</noscript>
